
<!-- sets story data (title, author, etc.) to localStorage/sessionStorage for use on download page -->
<!-- <script>

$(document).ready(function() {

  $("#button__postdownload").click(function() {
    console.log("button__postdownload clicked");
    var url; // should be available throughout click function

    init()
    function init() {
      if (!store.enabled) {
        var url = "/downloads/your-free-download/"; //GENERIC DOWNLOAD PAGE
        alert('Local storage is not supported by your browswer. Please disable "Private Mode", or upgrade your browser.')
      return
      } // end of if !store.enabled

      var url = "/downloads/your-free-download/";
      var metaArray = ["{{ page.title }}", "{{ page.author }}", "{{ page.genre }}", "{{ page.image }}", "{{ page.excerpt }}", "{{ page.kindle }}", "{{ page.epub }}", "{{ page.pdf }}"];

      // ARRAY KEY
      // [0] = title
      // [1] = author
      // [2] = genre
      // [3] = image
      // [4] = excerpt
      // [5] = kindle url
      // [6] = epub url
      // [7] = pdf url

      store.set('storyMeta', JSON.stringify(metaArray));

      console.log(metaArray);
    } // end of function init()

    if (store.get('registered')) {
      console.log("registered user!");
      console.log(url);

      var emailaddress = store.get('emailaddress');
      console.log(emailaddress);
      $('#mce-EMAIL').val(emailaddress);
      // $(location).attr('href', url);  sends past modal to download page .. not currently working due to val = url issue!
    } // end if

  }); // end of click function
});
</script> -->
