<form action="https://www.getdrip.com/forms/22568532/submissions" method="post" data-drip-embedded-form="22568532" class="d_form1">
  <h3>Apply to join the<br>ARMCHAIR DETECTIVES BUREAU</h3>
  <div style="margin:1rem auto 0;width:500px;max-width:85%;">
    <p>And get the weekly <span class="bloodred bold">CaseFiles</span> email digest delivered every Sunday morning so you can plan your week's reading! Enter your best email now see if you qualify for membership!</p>
  </div>
  <br>
    <div>
        <label for="fields[email]">Email Address</label><br />
        <input type="email" name="fields[email]" value="" />
    </div>
  <div>
    <input type="submit" name="submit" value="GIVE ME THE A.D.B. TEST" data-drip-attribute="sign-up-button" />
  </div>

  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%;">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded or given away.<br>UNSUBSCRIBE ANYTIME.</p>
  </div>
</form>