<form action="https://www.getdrip.com/forms/42524924/submissions" method="post" data-drip-embedded-form="42524924">
  <div>
      <!-- <label for="drip-email">Email Address</label><br /> -->
      <input type="email" name="fields[email]" onfocus="if(this.value == 'Your best email address') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Your best email address'; }" value="Your best email address" />
  </div>
  <div>
    <input type="submit" name="submit" value="Give me the solution!" data-drip-attribute="sign-up-button" />
  </div>
  <div style="margin:1rem auto -1rem;width:300px;max-width:95%;">
    <p class="xsmall"><i class="fa fa-lock" aria-hidden="true"></i> Email Address Secured!<br>UNSUBSCRIBE ANYTIME</p>
  </div>
</form>
