<form action="https://www.getdrip.com/forms/748347861/submissions" method="post" data-drip-embedded-form="748347861" id="n1form">
  <h3 class="hidden">[LEAD] Novelette (free) Download - Pro</h3>
  <div>
    <div class="email-field">
      <h1 class="books__title">VOODOO ON THE RIVIERA</h1>
      <h2 class="books__author">A Dixon Hawke Mystery</h2>
      <p>Enter your name &amp; email address to get your <em>FREE</em> copy of this exciting <span style="color:#fffff0;background-color:#8b0000;padding:0 0.25rem;">PROFESSIONAL&nbsp;SLEUTH</span> novelette.</p>
      <p class="small">Download links for both ePub &amp; Kindle editions will be sent by email.</p>
    </div>

    <div class="email-field">
      <label for="fields[first_name]">First Name</label><br>
      <input type="text" name="fields[first_name]" value="" />
    </div>

    <div class="email-field">
      <label for="fields[email]">Email Address</label><br>
      <input type="email" name="fields[email]" value="" />
    </div>

  </div>

  <div class="hidden-form-data">
    <input type="hidden" name="fields[title]" value="Voodoo On The Riviera" />
    
    <input type="hidden" name="fields[series]" value="A Dixon Hawke Mystery" />
  
    <input type="hidden" name="fields[genre]" value="Professional Sleuth" />
  
    <input type="hidden" name="fields[casefileNumber]" value="55ccf75fb3901011515aefbd"/>
 
    <input type="hidden" name="fields[description]" value="Up against the fearsome forces of Caribean voodoo, can Hawke and his assistant Tommy Burke defeat the forces of dark magic?" />
  
    <input type="hidden" name="fields[image]" value="https://www.talesofmurder.com/assets/img/novelettes/voodoo-on-the-riviera.jpg" />
  
    <input type="hidden" name="fields[downloadlink_kindle]" value="https://s3.amazonaws.com/talesofmurder.com/novelettes/voodoo-on-the-riviera.mobi" />
  
    <input type="hidden" name="fields[downloadlink_epub]" value="https://s3.amazonaws.com/talesofmurder.com/novelettes/voodoo-on-the-riviera.epub" />
    
    <input type="submit" value="DOWNLOAD" data-drip-attribute="sign-up-button" />
  </div>
  
  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded, or given away.</p>
  </div>
</form>
