<header class="black_header">
  <h4>Since you liked <span class="uppercase">{{ page.title replace: ' ', '&nbsp;' }}</span>, you'll love this <span style="color:#242424;background-color:#fffff0;padding:0 0.5rem;">AMATEUR&nbsp;SLEUTH</span> novelette.</h4>
  <p>Download it FREE <span class="small">(normally $2.99)</span> in ePub &amp; Kindle formats</p>
</header>

<div class="ad-body">

  <img src="/assets/img/novelettes/mr-binglers-murder-maze.jpg" alt="Mr. Bingler's Murder Maze, by Wilbur S. Peacock">

  <div>
	  <p><span class="bold uppercase xlarge">Mr. Bingler's Murder Maze</span><br>By Wilbur S. Peacock<span class="xsmall"><br>(56 min read)</span><br><span class="black"><em>Crack Detective</em> | Mar. 1943 | Vol. 3 No. 2</span></p>
	
    <div class="tease">
		  <p>Mr. Bingler was on the spot, for here was a case not covered by the situations described in his handy little instruction booklet for Home Detectives. But the little man's courage held out, even when he found himself lying next to a murdered man, with his own sword-umbrella sticking out of the corpse as sure-fire evidence!</p>
    </div>
    
  <!-- modal trigger for sample download form -->
  <p class="modal-trigger add-to-cart_sub" style="margin-left:-2rem;width:275px;max-width:95%;"><a href="#openModal">Download</a></p>
  <br>
 <p class="small">* gain access to all {{ site.novelettes | size }} novelettes when you download MR. BINGLER'S MURDER MAZE today</p> 
    <div id="openModal" class="modalDialog">
      <div><a href="#close" title="Close" class="close">X</a>
        {% include n1-free-am.html %}
      </div>
    </div>

  </div>

</div> <!-- end div.ad-body -->
