<section class="ad-internal">

  {% if page.primary-genre or page.genre == "Professional Sleuth" %}
    {% include ad-professional-sleuth.html %}
  {% elsif page.primary-genre or page.genre == "Amateur Sleuth" %}
    {% include ad-amateur-sleuth.html %}
  {% elsif page.primary-genre or page.genre == "Criminal Element" or "Theft" or "Kleptomania" %}
     {% include ad-crime.html %}
  {% elsif page.primary-genre or page.genre == "True Crime" %}
      include ad-misc.html 
  {% endif %}

</section> <!-- end section.ad-internal -->
