<header class="black_header">
  <h4>Since you liked <span class="uppercase">{{ page.title replace: ' ', '&nbsp;' }}</span>, you'll love this <span style="color:#242424;background-color:#fffff0;padding:0 0.5rem;">MYSTERY</span> novelette.</h4>
  <p>Download it FREE <span class="small">(normally $2.99)</span> in ePub &amp; Kindle formats</p>
</header>

<div class="ad-body">

  <img src="/assets/img/novelettes/blueberry-pie.jpg" alt="Blueberry Pie, by Thrya Samter Winslow">

  <div>
	  <p><span class="bold uppercase xlarge">Blueberry Pie</span><br>By Thrya Samter Winslow<span class="xsmall"><br>(56 min read)</span><br><span class="black"><em>The Black Mask</em> | Aug. 1922 | Vol. 5 No. 5</span></p>
	
    <div class="tease">
      <p>The story about the execution of Stuart Dennison shook Irma as she recalled her old life back in New York. Before she was Irma Martin. When she was Mrs. Stuart Dennison.</p>
    </div>
    
  <!-- modal trigger for sample download form -->
  <p class="modal-trigger add-to-cart_sub" style="margin-left:-2rem;width:275px;max-width:95%;"><a href="#openModal">Download</a></p>
  <br>
 <p class="small">* gain access to all {{ site.novelettes | size }} novelettes when you download BLUEBERRY PIE today</p> 
    <div id="openModal" class="modalDialog">
      <div><a href="#close" title="Close" class="close">X</a>
        {% include n1-free-crime.html %}
      </div>
    </div>

  </div>

</div> <!-- end div.ad-body -->
