<header class="black_header">
  <h4>If you liked <span class="uppercase">{{ page.title replace: ' ', '&nbsp;' }}</span>, you'll love this <span style="color:#242424;background-color:#fffff0;padding:0 0.5rem;">PROFESSIONAL&nbsp;SLEUTH</span> novelette.</h4>
  <p>Download it FREE <span class="small">(normally $2.99)</span> in ePub &amp; Kindle formats</p>
</header>

<div class="ad-body">

  <img src="/assets/img/novelettes/voodoo-on-the-riviera.jpg" alt="Voodoo On the Riviera, a Dixon Hawke Mystery Novelette">

  <div>
	  <p><span class="bold uppercase xlarge">Voodoo On The Riviera</span><br>A Dixon Hawke Mystery<span class="xsmall"><br>(50 min read)</span><br><span class="black"><em>Dixon Hawke Library</em> | May 31, 1941 | No. 561</span></p>
	
    <div class="tease">
			<p>Up against the fearsome forces of Caribean voodoo, can Hawke and his assistant Tommy Burke defeat the forces of dark magic?</p>
		</div>
    
  <!-- modal trigger for sample download form -->
  <p class="modal-trigger add-to-cart_sub" style="margin-left:-2rem;width:275px;max-width:95%;"><a href="#openModal">Download</a></p>
  <br>
 <p class="small">* gain access to all {{ site.novelettes | size }} novelettes when you download VOODOO ON THE RIVIERA today</p> 
    <div id="openModal" class="modalDialog">
      <div><a href="#close" title="Close" class="close">X</a>
        {% include n1-free-pro.html %}
      </div>
    </div>

  </div>

</div> <!-- end div.ad-body -->
