<div class="ad-internal" style="color:#fffff0;background-color:#363636;">
  <p class="italics" style="line-height:1.75;">If you enjoy reading <span class="uppercase bold">{{ page.title | replace: ' ', '&nbsp;' }}</span>, you'll love getting a <span class="uppercase bold" style="margin:0 0.25rem;padding:0 0.25rem;color:#242424;background-color:#fffff0;">
  {% if page.primary-genre or page.genre == "Professional Sleuth" %}
    PROFESSIONAL&nbsp;SLEUTH
  {% elsif page.primary-genre or page.genre == "Amateur Sleuth" %}
    AMATEUR&nbsp;SLEUTH
  {% else %}
    MYSTERY 
  {% endif %}
  </span> novelette FREE (normally $2.99). <a href="#ad-bottom" style="color:#fffff0;text-decoration:underline;">Complete details after the story &hellip;</a></p>

</div> <!-- end div.ad-internal -->
