<section class="ad-bottom">
	<header class="black_header">
		<h4><em>Did you get your copy of</em></h4>
<!-- 		<p class="small">Click to get another mind-bending SUPERNATURAL thriller &hellip;</p> -->
	</header>

	<div class="div">
		<img src="/assets/img/short-stories/man-who-would-not-die-1a.png" alt="">
	
		<div>
			<p><span class="bold uppercase xlarge">THE MAN WHO WOULD NOT DIE</span><br>by Harold Ward<span class="xsmall"><br>(52 min read)</span><br><span class="black"><em>Black Mask</em> | Sept. 1920 | Vol. 1, No. 6</span></p>
	
			<p class="tease"><span>"What is death, my dear inspectors? Who knows? No&nbsp;one&nbsp;but&nbsp;me."</span></p>
		</div>
	</div>
	
	<footer>
		<button id="ad2" onclick="window.location.href='/lp/man-who-would-not-die/'">DOWNLOAD &amp; READ NOW (or&nbsp;save&nbsp;for&nbsp;later!)&nbsp;&#10144;</button>
	</footer>
</section>