<form action="https://www.getdrip.com/forms/699583245/submissions" method="post" data-drip-embedded-form="699583245" class="adb_pg-form">
  <h4>Join the ARMCHAIR&nbsp;DETECTIVES&nbsp;BUREAU</h4>

    <div class="email-field">
        <label for="drip-first-name">First Name</label><br />
        <input type="text" id="drip-first-name" name="fields[first_name]" value="" />
    </div>

    <div class="email-field">
        <label for="drip-email">Email Address</label><br />
        <input type="email" id="drip-email" name="fields[email]" value="" />
    </div>
    <div>
      <input type="submit" value="Join"/>
    </div>
</form>

