<div class="branding">
  <h1 class="title hidden">Tales&nbsp;<span class="rotated-text">of</span>&nbsp;Murder</h1>
  <p>
  	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad consequuntur voluptate vitae expedita modi corporis. Natus facere rerum accusamus vitae quasi maxime nihil laboriosam explicabo, neque accusantium nobis incidunt!</span>
  	<span>Consequuntur tempora debitis, cum dicta illo, eligendi inventore voluptatum consectetur id corporis similique, ut omnis sunt laudantium doloribus dolorem praesentium eius aliquam hic! Veniam sint velit inventore, iste ipsa maxime.</span>
  	<span>Dolorem, hic. Omnis laudantium modi laboriosam incidunt officia illum, reprehenderit, non veritatis aut impedit ea voluptates praesentium, unde rem! Totam nulla tempora corporis maiores vel vero officia optio, eaque animi.</span>
  	<span>Blanditiis doloribus magnam ratione culpa magni expedita sunt recusandae doloremque, praesentium consequatur dolor, nam odio excepturi itaque. Nostrum incidunt voluptatum molestias nam architecto aut, nesciunt sapiente commodi totam, molestiae impedit.</span>
  	<span>Harum dolores dignissimos, esse incidunt laboriosam similique labore odio maiores amet iure doloremque odit excepturi, recusandae eum quaerat tempore adipisci. Incidunt quod, quasi voluptate, quo sit quisquam repellendus eaque hic.</span>
  	<span>Repellendus asperiores, unde molestiae iusto, assumenda odit cumque pariatur ullam inventore tempore. Nam, doloribus, debitis. Itaque molestias, fugit neque cupiditate repellendus ad eum necessitatibus, ducimus molestiae voluptatum, non. Ratione, nihil?</span>
  	<span>Quisquam nemo, similique quasi nesciunt possimus incidunt eos tenetur ipsum est rem officiis repellat mollitia et ad dolorem facere vero ea architecto ipsam, doloremque cumque illum eveniet. Animi, earum, rem?</span>
  	<span>In quod illo quas tempore maxime sint illum odit dignissimos eius, beatae quisquam necessitatibus esse, aspernatur! Maxime nostrum rerum, sed quo, consequuntur illum quisquam sequi ipsum modi, pariatur reprehenderit sint.</span>
  	<span>Magni fuga inventore ducimus sunt perferendis molestias reprehenderit hic ipsam illo ad, adipisci quasi impedit aut ratione veritatis alias iure voluptas sapiente voluptates, excepturi, unde delectus! Tempore, voluptatum reiciendis ex!</span>
  	<span>Suscipit ipsum sunt aperiam debitis, voluptatum minus ad, ducimus cupiditate laborum officia, commodi, facere unde consectetur? Odio, ut error dolor, tempore velit libero. Numquam cum consequuntur harum, iusto dolores hic!</span>
  </p>

  <!-- include optin2.html %} -->

</div>
