<div class="buttons-etc">
  <div class="book__buttons epo-buttons">
    <button class="snipcart-add-item add-to-cart"
      data-item-id="af4c1150fff2-954392efc0c2"
      data-item-file-guid="d2b2a46e-631c-4cd2-b4ba-af4c1150fff2"
      data-item-name="Novelette Library (ePub edition)"
      data-item-price="15.99"
      data-item-url="{{ site.baseurl }}/downloads/thank-you"
      data-item-max-quantity="1">
      BUY EPUB EDITION
    </button>

    <button class="snipcart-add-item add-to-cart"
      data-item-id="af4c1150fff2-954392efc0c2"
      data-item-file-guid="2a7a2b51-9fdf-4460-8d23-954392efc0c2"
      data-item-name="Novelette Library (Kindle edition)"
      data-item-price="15.99"
      data-item-url="{{ site.baseurl }}/downloads/thank-you"
      data-item-max-quantity="1">
      BUY KINDLE EDITION
    </button>
  </div>
</div> <!-- end .book__buttons -->