<!-- LOVE TURNS TO MURDER EDITION -->

<div class="buttons-etc">
  <div class="book__buttons epo-buttons">
    <button class="snipcart-add-item add-to-cart"
      data-item-id="41591e90ddbc-5f22582a8f39"
      data-item-file-guid="df9c8244-76a0-4355-b3c1-41591e90ddbc"
      data-item-name="LOVE TURNS TO MURDER Novelette Mini-Library (ePub edition)"
      data-item-price="4.99"
      data-item-url="https://www.talesofmurder.com/novelettes/downloads/thank-you"
      data-item-max-quantity="1">
      BUY EPUB EDITION
    </button>

    <button class="snipcart-add-item add-to-cart"
      data-item-id="41591e90ddbc-5f22582a8f39"
      data-item-file-guid="6aae40fe-9d5e-47c1-804c-5f22582a8f39"
      data-item-name="LOVE TURNS TO MURDER Novelette Mini-Library (Kindle edition)"
      data-item-price="4.99"
      data-item-url="https://www.talesofmurder.com/novelettes/downloads/thank-you"
      data-item-max-quantity="1">
      BUY KINDLE EDITION
    </button>
  </div>
</div> <!-- end .book__buttons -->