<div class="buttons-etc">
  <div class="book__buttons">
    <button class="add-to-cart bold" style="width:45%;font-size:0.875rem">
        BUY
    </button>

    <button class="modal-trigger add-to-cart_sub" style="width:45%;font-size:0.875rem"><a href="#openModal">SERIAL EDITION</a></button>

    <div id="openModal" class="modalDialog">
      <div><a href="#close" title="Close" class="close">X</a>
        {% include n1-free-v2.html %}
      </div>
    </div>

  </div>  <!-- end .book__buttons -->
  
  <br>
  <br>

  
</div> <!-- end div.buttons-etc -->
