<ul class="cards">
	{% for post in site.posts %}

		<!-- README IF STATEMENT -->
	  {% if site.readtime %}
		  {% if site.wpm %}
	  	  {% assign readtime = post.wordcount | divided_by:site.wpm %}
	  	{% else %}
	    	{% assign readtime = post.wordcount | divided_by:180 %}
	  	{% endif %}
		{% endif %}


	{% if post.category == 'short-stories' %}
	<a href="{{ post.url }}">
		<li class="card" {% if post.genre %} id="{{ post.genre | downcase }}"{% endif %}>

			<div class="card__header" style="background-image: url('{{ post.image }}'); width: 100%;">

			<!-- NOTE: style in div tag (above) MUST be included for class="card__header" to allow the individual post's image to be dropped into as a background-image. Can't (don't know how!) to do it in the CSS stylesheet, so I put it in the HTML style. -->

				<p class="card__genre">{{ post.genre }}</p>

				{% if post.layoutTag == 'premium_post' %}
					<div class="card__ribbonwrapper">
						<div class="card__ribbon">PREMIUM</div> <!-- end of div card__ribbon -->
					</div> <!-- end of div card__ribbonwrapper -->
				{% endif %}

				<h2 class="card__meta">{{ post.title }} <span>{{ post.author }}</span></h2>

			</div> <!-- end div card__header -->


			<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}" class="readmore">Read&nbsp;More&nbsp;&rsaquo;&rsaquo;</a> </p>

			<p class="meta">{{ post.wordcount | thousands_separated }} words | {% if site.readtime %}
				{% if readtime > 60 %}
				{% assign readtime_hours = readtime | divided_by: 60 %}
				{% assign readtime_minutes = readtime | modulo:60 %}
					{% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
					{% else %}<span class="hour">{{ readtime_hours }}</span> hr
					{% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} <span class="time">{{ readtime_minutes }}</span> min{% endif %}
				{% else %}
					{% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
				{% endif %}
			</p>

		</li>
	</a>
	{% endif %}
	{% endfor %}

</ul>