<ul class="cards">

<!--  assign sort1 = site.short-stories | sort: 'wordcount' %}
 for short-stories in sort1 %} -->

{% assign datesort = site.short-stories | sort: 'date' | reverse %} <!-- sorts in blog-post-like reverse chron order -->

{% for short-stories in datesort %}

 <!-- if short-stories.wordcount < 3001 %} -->

<!-- README IF STATEMENT -->
{% if site.readtime %}
  {% if site.wpm %}
    {% assign readtime = short-stories.wordcount | divided_by:site.wpm %}
  {% else %}
    {% assign readtime = short-stories.wordcount | divided_by:180 %}
  {% endif %}
{% endif %}


    <li class="card" {% if short-stories.genre %} id="{{ short-stories.genre | downcase }}"{% endif %}>

      <header class="card__header" style="{% if short-stories.image %} background-image:url(' {{ short-stories.image }}') {% else %} background-image:url('/assets/img/site/atticus_b_small.png');background-size: 50px 75px;{% endif %}">

      <p class="card__genre">{{ short-stories.genre }}</p>

      <h2 class="card__meta">{{ short-stories.title }} 
        <span>
          {% if short-stories.author %}
            {{ short-stories.author }}
          {% else %}
            {{ short-stories.series }}
          {% endif %}
        </span>
      </h2>

      </header> <!-- end header.card__header -->

      <p class="TOCexcerpt">{{ short-stories.excerpt | remove: '<p>' | remove: '</p>' }}<br><a href="{{ short-stories.url }}" class="readmore" style="background-color:#8b0000;color:#fffff0;padding:0.25rem">
        <!-- if short-stories.wordcount < 3001 %} -->
          Read&nbsp;<!-- online&nbsp; -->&rsaquo;&rsaquo;</a></p>
<!--         else %}
          Download&nbsp;&amp;&nbsp;read&nbsp;&rsaquo;&rsaquo;</a></p>
         endif %} -->
        <p class="meta">{{ short-stories.wordcount | thousands_separated }} words | {% if site.readtime %}
        {% if readtime > 60 %}
        {% assign readtime_hours = readtime | divided_by: 60 %}
        {% assign readtime_minutes = readtime | modulo:60 %}
          {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
          {% else %}<span class="hour">{{ readtime_hours }}</span> hr
          {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} <span class="time">{{ readtime_minutes }}</span> min{% endif %}
        {% else %}
          {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
        {% endif %}
        </p>
    </li>

<!-- endif %} -->

{% endfor %}

</ul>

<div class="cf"></div>

<!-- optin4 -->
