<ul class="cards__small">
{% for novels in site.novels %}

  <li class="card__small" {% if novels.genre %} id="{{ novels.genre | downcase }}"{% endif %}>
    
    <a href="{{ novels.url }}" class="readmore">
    <img src="{{ novels.image }}" alt="{{ novels.title }} by {{ novels.author }}"></a>
    <h2 class="title">{{ novels.title }}</h2>
    <h3 class="author"><span>by</span> {{ novels.author }}</h3>
    <p class="descriptive">{{ novels.descriptive }}</p>
    <div class="price">
      <p>${{ novels.price }}</p>
    </div>
    <p class="excerpt">{{ novels.excerpt }}</p>
    <button class="buybutton"><a href="{{ novels.url }}">BUY</a></button>

  </li>

{% endfor %}

</ul>