<ul class="cards__small">
{% for novellas in site.novellas %}

  <li class="card__small" {% if novellas.genre %} id="{{ novellas.genre | downcase }}"{% endif %}>
    
    <a href="{{ novellas.url }}" class="readmore">
      <img src="{{ novellas.image }}" alt="{{ novellas.title }} by {{ novellas.author }}"></a>
    <div class="card__small__header">
      <div>
        <h2 class="title">{{ novellas.title }}</h2>
        <h3 class="author">
          {% if novellas.author %}
            <span>by</span> {{ novellas.author }}
          {% else %}
            {{ novellas.series }}
          {% endif %}
        </h3>
      </div>
      <div class="price">
        <p>${{ novellas.price }}</p>
      </div>
    </div>
    <p class="excerpt">{{ novellas.description }}</p>
    <button class="buybutton"><a href="{{ novellas.url }}" style="color:#fffff0;">BUY</a></button>
    <!-- <p class="buybutton">Buy</p> -->

  </li>

{% endfor %}

</ul>

<!-- optin4 -->
