<ul class="cards">
{% for murderwiki in site.murderwiki %}

<!-- README IF STATEMENT -->
{% if site.readtime %}
  {% if site.wpm %}
    {% assign readtime = murderwiki.wordcount | divided_by:site.wpm %}
  {% else %}
    {% assign readtime = murderwiki.wordcount | divided_by:180 %}
  {% endif %}
{% endif %}


    <li class="card" {% if murderwiki.genre %} id="{{ murderwiki.genre | downcase }}"{% endif %}>

      <header class="card__header" style="background-image:url(' {{ murderwiki.image }}');
        {% if murderwiki.sizeoverride %}
          background-size: {{ murderwiki.sizeoverride }}
        {% endif %}
      ">

      <p class="card__genre">{{ murderwiki.genre }}</p>

      <h2 class="card__meta">{{ murderwiki.title }} <span>{{ murderwiki.author }}</span></h2>

      </header> <!-- end header.card__header -->

      <p>{{ murderwiki.excerpt | remove: '<p>' | remove: '</p>' | truncate: 110 }} <a href="{{ murderwiki.url }}" class="readmore">Read&nbsp;More&nbsp;&rsaquo;&rsaquo;</a> </p>
      <p class="meta">{{ murderwiki.wordcount | thousands_separated }} words | {% if site.readtime %}
        {% if readtime > 60 %}
        {% assign readtime_hours = readtime | divided_by: 60 %}
        {% assign readtime_minutes = readtime | modulo:60 %}
          {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
          {% else %}<span class="hour">{{ readtime_hours }}</span> hr
          {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} <span class="time">{{ readtime_minutes }}</span> min{% endif %}
        {% else %}
          {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
        {% endif %}
        </p>
    </li>

{% endfor %}

</ul>

<div class="cf"></div>

