<div class="hp-header">
  
  <header>
    <h1 class="center uppercase" style="font-size:5rem;">Read a story<h1>
    
    <h3 class="uppercase">in as little as <span style="color:#8b0000;background-color:#fffff0;">5&nbsp;MINUTES&nbsp;PER&nbsp;DAY</h3>

    <h2 class="italics center">cozy &middot; noir &middot; amateur/professional sleuth &middot; psychological &middot; paranormal &middot; hardboiled PI &middot; murder &middot; crime &middot; gold age</h2>

    <h3 class="italics">classic &hellip; rare &hellip; out-of-print</h3>
  </header>

  <main>
  <ul>
    <li><img src="/assets/img/murderwiki/Agatha3.jpg"></li>
    <li><img src="/assets/img/short-stories/brand-of-cain.svg"></li>
    <li><img src="/assets/img/novelettes/more-deadly-than-a-viper.jpg"></li>
    <li><img src="/assets/img/novellas/five-who-saw-too-much.png"></li>
    <li><img src="/assets/img/novels/andsuddendeath.jpg"></li>
  </ul>
  </main>
</div> <!-- end of div.catpg-header -->
