<div class="catpg-header">
  
  <header>
    <h1 class="center">MURDERWIKI</h1>
    <h3 class="uppercase">5 &ndash; 90+ min articles</h3>
    <p>When you have <span>A LITTLE EXTRA TIME</span> and want to know more about <em>murder mystery, crime, &amp; detective fiction</em>, these articles give you the information you need.<br><br>From historical context to definitions and special insider looks at how an author creates a story &hellip; and more!</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-puzzle-piece fa-5x"></i>
    <p class="bold italics">learn about<br>the genre &hellip;</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-desktop fa-5x"></i>
    <p class="bold italics">online only</p>
  </div>

  <div class="icons">
    <span id="cat-icon" class="fa-stack fa-2x">
      <i class="fa fa-usd fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x"></i>
    </span>
    <p class="bold italics">always free</p>
  </div>

  </div> <!-- end of div.iconography -->


</div> <!-- end of div.catpg-header -->
