<div class="catpg-header">
  
  <header>
    <h1 class="center">NOVELETTES</h1>
    <h3 class="uppercase">30 &ndash; 90 min stories</h3>
    <p>Read any novelette in as little as <span>5 MINUTES PER DAY</span> with a simple reading plan, included in every download. Optional daily email reading reminders to help you <em>finish</em> reading &hellip; because nothing is worse than an unfinished story!</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-usd fa-3x"></i>
    <p class="bold italics">buy any novelette<br>for just $2.99</p>
  </div>

  <div class="icons">
    <span id="cat-icon" class="fa-stack fa-2x">
      <i class="fa fa-usd fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x"></i>
    </span>
    <p class="bold italics">SUBSCRIBE &amp; access<br>all novelettes <em class="bloodred" style="background-color:yellow;">FREE</em><br><span class="small hidden">Re-enter your email address<br>to access each novelette.</span></p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-tablet fa-5x"></i>
    <p class="bold italics">ePub or Kindle<br>format ebooks</p>
  </div>
  </div> <!-- end of div.iconography -->


</div> <!-- end of div.catpg-header -->
