<div class="catpg-header">
  
  <header>
    <h1 class="center">SHORT STORIES</h1>
    <h3 class="uppercase">Less than 5 &ndash; 30 min stories</h3>
    <p>Read any story in <span>5 TO 30 MINUTES</span> &hellip; the perfect escape when you've got a few minutes to relax! Read a little, or read it all. It'll be here whether you've got a minute or an hour.</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-coffee fa-5x"></i>
    <p class="bold italics">read online,<br>anytime</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-desktop fa-5x"></i>
    <p class="bold italics">online only</p>
  </div>

  <div class="icons">
    <span id="cat-icon" class="fa-stack fa-2x">
      <i class="fa fa-usd fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x"></i>
    </span>
    <p class="bold italics">always free</p>
  </div>
  </div> <!-- end of div.iconography -->

</div> <!-- end of div.catpg-header -->
