<div class="catpg-header">
  
  <header>
    <h1 class="center">NOVELLAS</h1>
    <h3 class="uppercase">1.5 &ndash; 3 hr stories</h3>
    <p>Read any novella in as little as <span>10&nbsp;MINUTES&nbsp;PER&nbsp;DAY</span> &hellip; no need to disappear for hours just to lose yourself in a great mystery novella. Just read a chapter a day &amp; finish in 1 &ndash; 2 weeks; or just the thing when you've got a free afternoon.</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-cart-arrow-down fa-5x"></i>
    <p class="bold italics">buy any novella<br> from $3.99+</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-certificate fa-5x"></i>
    <p class="bold italics">100% <span class="bloodred">LUV-IT</span><br>guarantee!</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-tablet fa-5x"></i>
    <p class="bold italics">ePub or Kindle<br>format ebooks</p>
  </div>
  </div> <!-- end of div.iconography -->


</div> <!-- end of div.catpg-header -->
