<div class="catpg-header">
  
  <header>
    <h1 class="center">NOVELLAS</h1>
    <h3 class="uppercase">1.5 &ndash; 3 hr stories</h3>
    <p>Read any novella in as little as <span>10 MINUTES PER DAY</span> with a simple reading plan, included in every download. Optional daily email reading reminders to help you <em>finish</em> reading &hellip; because nothing is worse than an unfinished story!</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-cart-arrow-down fa-5x"></i>
    <p class="bold italics">buy any novella<br> from $3.99+</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-certificate fa-5x"></i>
    <p class="bold italics">100% <span class="bloodred">LUV-IT</span><br>guarantee!</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-tablet fa-5x"></i>
    <p class="bold italics">ePub or Kindle<br>format ebooks</p>
  </div>
  </div> <!-- end of div.iconography -->


</div> <!-- end of div.catpg-header -->
