<div class="catpg-header">
  
  <header>
    <h1 class="center">NOVELS</h1>
    <h3 class="uppercase">3+ hr stories</h3>
    <p>Read any novel in as little as <span>30&nbsp;MINUTES&nbsp;PER&nbsp;DAY</span> &hellip; studies show that reading for 30 mins just before bed relaxes the mind &amp; improves sleep.</p>
    <p>Grab a novel and read a couple chapters every evening, or on a lunch break. Enjoy the thrill of reading &amp; the thrill of finishing a great mystery novel in just 18 days. When was the last time you did that?</p>
  </header>
  

  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-cart-arrow-down fa-5x"></i>
    <p class="bold italics">buy any novella<br> from $5.99+</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-certificate fa-5x"></i>
    <p class="bold italics">100% <span class="bloodred">LUV-IT</span><br>guarantee!</p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-tablet fa-5x"></i>
    <p class="bold italics">ePub or Kindle<br>format ebooks</p>
  </div>
  </div> <!-- end of div.iconography -->

</div> <!-- end of div.catpg-header -->
