<div class="catpg-header">
  
  <header>
    <h1 class="center">NOVELETTES</h1>
    <h3 class="uppercase">30 &ndash; 90 min stories</h3>
    <p>Read any novelette in as little as <span>5&nbsp;MINUTES&nbsp;PER&nbsp;DAY</span> &hellip; read a chapter at a time &mdash; most will only take 5 &ndash; 10 mins to read &mdash; and finish any novelette in as little as a week. Or take an hour, find a comfortable spot, and read it all. More restful than&nbsp;a&nbsp;nap!</p>
  </header>
  
  
  <div class="iconography">
  <div class="icons">
    <i id="cat-icon" class="fa fa-usd fa-3x"></i>
    <p class="bold italics">buy any novelette<br>for just $2.99</p>
  </div>

  <div class="icons">
    <span id="cat-icon" class="fa-stack fa-2x">
      <i class="fa fa-usd fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x"></i>
    </span>
    <p class="bold italics">SUBSCRIBE &amp; access<br>all novelettes <em class="bloodred" style="background-color:yellow;">FREE</em><br><span class="small hidden">Re-enter your email address<br>to access each novelette.</span></p>
  </div>

  <div class="icons">
    <i id="cat-icon" class="fa fa-tablet fa-5x"></i>
    <p class="bold italics">ePub or Kindle<br>format ebooks</p>
  </div>
  </div> <!-- end of div.iconography -->


</div> <!-- end of div.catpg-header -->
