<script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
<div class="ck_form_container ck_inline" data-ck-version="6">
  <div class="ck_form ck_naked">
  <div class="ck_form_fields">
    <div id="ck_success_msg" style="display:none;">
      <p>Good choice! Check your email to find your download link for this story. You&#x27;ll also receive an email with a complete up-to-date list of all short stories available on TalesofMurder.com with download links!</p>
    </div>

    <!--  Form starts here  -->
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/158854/subscribe" data-remote="true">
      <input type="hidden" name="id" value="158854" id="landing_page_id">
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      <div class="ck_control_group ck_email_field_group">
        <label class="ck_label" for="ck_emailField" style="display: none">Email Address</label>
        <input type="email" name="email" class="ck_email_address" id="ck_emailField" placeholder="Email Address" required>
      </div>
      <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
        <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
      </div>


      <button class="subscribe_button ck_subscribe_button btn fields" id="ck_subscribe_button">
        DOWNLOAD <span>{{ page.title }}</span>
      </button>
    </form>
  </div>

</div>

</div>
