<header role="banner">
  <nav class="navBar">
    <nav class="wrapper">
      <div class="logo"></div><!-- Logo -->

      <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle"></label>
      </input>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/short-stories/">Short Stories</a></li>
        <li><a href="/books/">Books</a></li>
        <li><a href="/the-red-file/">The Red File</a></li>
        <li><a href="/murderwiki/">MurderWiki</a></li>
      </ul>
    </nav>
  </nav>
</header>
