<section class="contact container" id="contactform">
	
	<div class="contact__header">
		<h2><i class="fa fa-bullhorn"></i>&nbsp;&#39;ey! You <wbr>talkin&#39;&nbsp;to&nbsp;me?!</h2>
	</div>
	
	<section class="contact__content clearfix">
		<div class="contact__copy">
			<h3>Well, why not?</h3>
			<p>Drop me a line &hellip; about anything! I love chattin' with fans.</p>
			<p>Got a comment about a story? Or find a problem on the site? Or maybe you just want to ask a question. Go ahead. Fill out the form, mail us a letter (is that still a thing?) or just send me an email.</p>

			<div class="contact__address">
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-location-arrow"></i>8301 Lakeview Parkway<br>Suite 111&#8208;164<br>Rowlett, TX 75088&#8208;9320</li>
				</ul>

				<br>

				<!-- <ul class="fa-ul">
					<li><i class="fa-li fa fa-phone"></i>(972) 944&#8208;6644</li>
				</ul> -->
				
				<br>

				<ul class="fa-ul">
					<li><i class="fa-li fa fa-envelope-o"></i>atticus@talesofmurder.com</li>
				</ul>
				
				<br>

			</div> <!-- end div contact__address -->

			<small><i class="fa fa-lock"></i>&nbsp;Your email address is safe. We will ONLY use it to respond. You are not being added to a database and will receive no other email from us beyond replies to this query.</small>
		</div>



		<form action="//formspree.io/atticus@talesofmurder.com" method="post" class="contact__form">
			
			<input type="hidden" name="_next" value="/thanks/contact-form/" />
			<input type="text" name="_gotcha" style="display: none" />

			<label for="name">Your Name&#58;</label>
			<input type="text" name="name">

			<label for="email">Your Email Address&#58;&nbsp;<sup><i class="fa fa-lock"></i></sup></label>
			<input type="email" name="_replyto">

			<label for="msg">What'ya got to say?</label>
			<textarea name="msg" id="msg" cols="30" rows="10"></textarea>

			<input type="submit" value="Send my message">
		</form>

	</section>

</section>