<form action="https://www.getdrip.com/forms/33583477/submissions" method="post" data-drip-embedded-form="33583477" class="d_form1">
  <h3 data-drip-attribute="headline">Subscribe to the WEEKLY BLOTTER</h3>
  <div data-drip-attribute="description">Delivered every Sunday morning so you can plan your week&#39;s reading! Enter your best email now and get your FREE downloadable copy of<br /><br /><strong>THE CAMPAIGN FOR VENGEANCE</strong>!</div>
    <div class="email-field">
        <label for="fields[email]">Email Address</label><br />
        <input type="email" name="fields[email]" value="" />
    </div>
  <div>
    <input type="submit" name="submit" value="Get My Story" data-drip-attribute="sign-up-button" />
  </div>
</form>