<div class="download-instructions">
  <dl class="trf__dl">
    <dt>Step 1&#058;</dt>
    <dd>Choose your preferred format:<br>(Kindle or ePub 3.0)</dd>
    <dt>Step 2&#058;</dt>
    <dd>Click the appropriate button below&nbsp;the&nbsp;description to download &amp; enjoy.</dd>
  </dl>

  <div class="download__smallprint">
    <p>NOTE: On desktop, clicking the buttons will open the download dialog box. On mobile devices, they will activate the download, which, once complete will allow you to open the file in your preferred app.</p>
  </div>
</div>