<h1>CASEFILES</h1>
{{ short-story.date }}<br />
CASEFILE NUMBER:&nbsp;{{ page.casefileNumber }}
<h3>&nbsp;</h3>

<hr />
<h1><img alt="Image" src="https://getdrip.s3.amazonaws.com/uploads/image_upload/image/94799/embeddable_440b8356-912a-4670-adc1-6447e16dc6f6.png" style="float:left;max-width:25%;margin:10px 10px 10px 10px;" /><br />
<a href="https://www.talesofmurder.com/short-stories/finishing-touch?utm_source=drip&amp;utm_medium=email&amp;utm_campaign={{ broadcast.name | url_encode }}&amp;utm_content={{ email.subject | url_encode }}">THE FINISHING TOUCH</a></h1>

<h2>By&nbsp;Charles S. Wolfe</h2>
(11 min read) &nbsp;

<p><em>Ridgely had planned it carefully, the murder and the letter. But one seemingly insignificant detail was the weak link in his chain.</em></p>

<hr />
<p>There's no such thing as a perfectly planned murder. Something always trips up the most careful of crooks! Find out what that was in today's thriller ...<br />
<br />
<a href="https://www.talesofmurder.com/short-stories/finishing-touch?utm_source=drip&amp;utm_medium=email&amp;utm_campaign={{ broadcast.name | url_encode }}&amp;utm_content={{ email.subject | url_encode }}" style="border: 1px solid #8b0000;border-radius: 5px;font-size: 14px;padding:10px 20px 10px 20px;background-color:#8b0000;color:#fffff0;margin-right:20px;">READ&nbsp;THE FINISHING TOUCH</a></p>
<br />
{{ snippets.atticus_signature }}<br />
<br />
PS - looking for something else to read? Check out <a href="https://www.talesofmurder.com/short-stories/?utm_source=drip&amp;utm_medium=email&amp;utm_campaign=">Short Stories</a>, <a href="https://www.talesofmurder.com/novellas/?utm_source=drip&amp;utm_medium=email&amp;utm_campaign=">Novellas</a> or <a href="https://www.talesofmurder.com/novels/?utm_source=drip&amp;utm_medium=email&amp;utm_campaign=">Novels</a>!

<p>&nbsp;</p>

<p>&nbsp;</p>
