
	<img class="hideonmobile hidden" src="/assets/img/site/tmp12.svg" alt="Tales of Murder, for readers with time to kill!" height="75" style="background-color:#8b0000;padding:0.75rem;margin-top:75px;">
  
  <div style="display:flex;flex-direction:column;align-self:center;text-align:center;color:#fffff0;background-color:#242424;margin-top:2rem;max-width:100%;" class="">
    <div style="background-color:#8b0000;width:100%;padding:2rem 0;background-image:url('/assets/img/novels/spruce-street-tragedy.jpg');background-size:contain;background-repeat:no-repeat;">
      <h1 style="font-size:5rem;margin-bottom:0;">READ ANYTHING</h1>
      <h2>&middot; IN AS LITTLE AS <em>5 MINUTES PER DAY</em> &middot;</h2>
    </div>
    <br>
    <br>
    <h4>Your time is limited &hellip;<br>especially for special activities you love,<br><br><span class="uppercase">like reading a great story.</span></h4>
    <br>
    <h3 class="italics">Not any more!</h3>
    <br>
    <br>
  
    <div style="display:flex;justify-content:space-around;">

      <a href="/short-stories/" class="hidden">
        <div style="border: 1px solid #fffff0;width:200px;margin:1rem auto;padding:0.75rem;">
          <p style="color:#fffff0;">SHORT STORIES</p>
          <p style="color:#fffff0;">5- to 30-mins per&nbsp;day</p>
        </div>
      </a>
      
      <a href="/novelettes/">
      <div style="background-color:#8b0000;border: 1px solid #fffff0;width:200px;margin:1rem auto;padding:0.75rem;">
        <p class="bold" style="background-color:#fffff0;">NOVELETTES<br>(30 &ndash; 90 mins)</p>
        <p style="color:#fffff0;font-style:italic;">read in just 5&nbsp;mins&nbsp;per&nbsp;day</p>
      </div>
      </a>
  
      <a href="/novellas/">
      <div style="background-color:#8b0000;border: 1px solid #fffff0;width:200px;margin:1rem auto;padding:0.75rem;">
        <p class="bold" style="background-color:#fffff0;">NOVELLAS<br>(1.5 &ndash; 3 hrs)</p>
        <p style="color:#fffff0;font-style:italic;">read in just 10&nbsp;mins&nbsp;per&nbsp;day</p>
      </div>
      </a>
   
      <a href="/novels/">
      <div style="background-color:#8b0000;border: 1px solid #fffff0;width:200px;margin:1rem auto;padding:0.75rem;">
        <p class="bold" style="background-color:#fffff0;">NOVELS<br>(3+ hrs)</p>
        <p style="color:#fffff0;font-style:italic;">read in 18 days; up to 30-mins per day</p>
      </div>
      </a>

    </div>
    
    <br>
    <br>
  
    <h3>GET ANY NOVELETTE &middot; NOVELLA &middot; NOVEL</h3>
    <h3>as a <em>serialized</em> story.</h3>
    <br>
    <div style="width:500px;max-width:85%;margin:0 auto;text-align:left;">
      <p>The 1st installment is delivered immediately; then each subsequent installment arrives in your inbox one day at a time.</p>
      <p>Before you know it, you'll have read the entire story &hellip; in as little as 5&nbsp;minutes&nbsp;per&nbsp;day!</p>
    </div>
  
  </div>
