<section class="lfte container">

	<header class="lfte__header">
		<h4>Manifesto</h4>
	</header>

	<div class="lfte__content">
    
    <p><span class="companyname">Tales of Murder Press</span> is the brainchild of writer &amp; editor Richard Cook. After 15+ years as a professional writer and editor in the corporate arena, he found his desire to use his writing and editing experience to tell better stories, and find an outlet for his own fiction and nonfiction storytelling interests. After drafting his own hardboiled PI novel, he realized a need to better understand the conventions of this genre and began researching past classics.</p>

    <p>Through this research, he discovered that the genre held more great works than those by greats and well&#8208;known authors like Dashiell Hammett and Agatha Christie. He discovered thousands of thrilling murder mystery and crime stories by lesser knowns like Ward Sterling, Ben Benson and others.</p>

    <p>Certainly known to rabid fans of the murder mystery genre, these authors are largely forgotten by the general reading public, even the average murder mystery fan. And while a few genre authors have reached the lofty realm of literature in the English 101 sense, most have been relegated to mere genre fiction status by academia.</p>

    <p>Yet, these novels and short stories are powerful, exciting works that deserve, in the modern Internet and ereader age, to be remembered and honored as literature.</p>

    <p>In an effort to save these works from historical obscurity, Tales of Murder Press was founded in 2013 to give voice once more to these authors, to introduce these great works to a new generation of murder mystery fans, to prove their literary merit, and to preserve them.</p>

    <p>These stories are preserved and served the public through this site, which offers readers and fans a single location to find and enjoy these stories. It provides, free to all readers, short stories of up to 3,000 words, with short stories from 3,000 to 10,000 words as free downloads, just an email required.</p>

    <p>A free weekly email newsletter delivers these exciting stories to fans, giving them a constant stream of content to enjoy online or off.</p>

    <p>Also available are novellas ranging from just over 10,000 words to 40,000 words, representing anywhere from an hour plus reading to several hours.</p>

    <p>Finally, murder mystery &amp; crime fiction fans will find a collection of thrilling novels available from popular to obscure but skilled writers.</p>

    <p>Tales of Murder Press, and the forces behind it, are first and foremost fans of murder mystery fiction from cozies to noir and hardboiled, with amateur and professional sleuths, evil villains and desperate crooks. We seek to honor the men and women who penned these works while proving their literary worth and ensuring they do not pass into literary or historical obscurity.</p>

	</div> 

</section>