<section class="lfte container">

	<header class="lfte__header">
		<h4>From the Editor:</h4>
	</header>

	<div class="lfte__content">
		<p>Welcome to the online home of <span class="companyname">Tales of Murder Press, LLC</span>, an independent publisher of classic &amp; out-of-print murder mystery and crime short stories, novellas, novelettes, and novels.</p>

    <p><em>If it's a story that involves murder or violent, unnatural death in any component, or involves crime and detectives, whether professional or amateur, we publish it.</em></p>

    <p>My job, as editor, is to search out and produce the best possible collection of short stories and novels for your reading pleasure.</p>

    <p>The job is simple:</p>

    <ul>
    	<li>Search the back rooms, basements &amp; attics around the country for old detective and mystery magazines, books and other collections.</li>
    	<li>Scan, edit, revise and turn into web-readable stories.</li>
    </ul>

    <p>Some other yada yada.</p>



	</div>

</section>