<!-- MASTHEAD: LOGO, TITLE, TAGLINE, ETC. -->

<header role="banner">

  <div class="wrap">

    <div class="masthead">

    </div> <!-- end div.masthead -->

    <nav class="mainnav" role="navigation">
    <h1 class="hidden" role="hidden">Main Navigation</h1>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/short-stories">Short Stories</a>
          <a href="/books">Books</a>
          <a href="/theredfile">The Red File</a>
          <a href="/murderwiki">MurderWiki</a>
        </li>
      </ul>
    </nav> <!-- end nav.mainnav -->

  </div> <!-- end div.wrap -->

</header>