  <section class="hp__mw wrap">
    <header>
      <h2>MURDERWIKI</h2>
      <a class="hp__link" href="/murderwiki">Browse <span class="bold">{{ site.murderwiki | size }}</span> Articles &raquo;</a>
    </header>

    <ul class="cards__small">
    {% for murderwiki in site.murderwiki | limit: 6 %}

      <li class="card__small" {% if murderwiki.genre %} id="{{ murderwiki.genre | downcase }}"{% endif %}>
        
        <a href="{{ murderwiki.url }}" class="readmore">
        <img src="{{ murderwiki.image }}" alt="{{ murderwiki.title }} by {{ murderwiki.author }}"></a>
        <h2 class="title">{{ murderwiki.title }}</h2>
        <h3 class="author"><span>by</span> {{ murderwiki.author }}</h3>
        <p class="excerpt">{{ murderwiki.excerpt | truncate: 100}}</p>
        <button class="buybutton"><a href="{{ murderwiki.url }}" style="color:#fffff0;">READ ONLINE</a></button>
        <!-- <p class="buybutton">Buy</p> -->

      </li>

    {% endfor %}

    </ul>
  </section>

