{% for post in site.murderwiki limit: 2 %}
<div class="mw__teasers">

  <img src="{{ post.image }}" alt="{{ post.title }}">
  <div class="mw__caption">
    <h3 class="mw__title"><a href="{{ root_url }}{{ page.url }}">{{ post.title }}</a></h3>

    {% if post.subtitle %}<h5 class="mw__subtitle">{{ post.subtitle }}</h5>{% endif %}

    <h4 class="mw__author">{% if post.author %}by <span>{{ post.author }}</span>{% else %}<span>{{ post.series }}</span>{% endif %}</h4>
    <p><span class="hidden">{{ post.excerpt length: 5 }}</span></p>
    <p><a href="{{ root_url }}{{ post.url }}" class="mw__readmore">Read&nbsp;the&nbsp;Article&nbsp;&rsaquo;&rsaquo;</a></p>

  </div> <!-- end div.mw__caption -->

</div> <!-- end div.mw__teasers -->
{% endfor %}