<form action="https://www.getdrip.com/forms/891182611/submissions" method="post" data-drip-embedded-form="891182611" id="n1form">
  <h3 class="hidden">[LEAD] Novelette (free) Download - Am</h3>
  <div>
    <div class="email-field">
      <h1 class="books__title">MR. BINGLER'S MURDER MAZE</h1>
      <h2 class="books__author">By Wilbur S. Peacock</h2>
      <p>Enter your name &amp; email address to get your <em>FREE</em> copy of this exciting <span style="color:#fffff0;background-color:#8b0000;padding:0 0.25rem;">AMATEUR&nbsp;SLEUTH</span> novelette.</p>
      <p class="small">Download links for both ePub &amp; Kindle editions will be sent by email.</p>
    </div>

    <div class="email-field">
      <label for="fields[first_name]">First Name</label><br>
      <input type="text" name="fields[first_name]" value="" />
    </div>

    <div class="email-field">
      <label for="fields[email]">Email Address</label><br>
      <input type="email" name="fields[email]" value="" />
    </div>

  </div>

  <div class="hidden-form-data">
    <input type="hidden" name="fields[title]" value="Mr. Bingler's Murder Maze" />
    
    <input type="hidden" name="fields[series]" value="Wilbur S. Peacock" />
  
    <input type="hidden" name="fields[genre]" value="Amateur Sleuth" />
  
    <input type="hidden" name="fields[casefileNumber]" value=""/>
 
    <input type="hidden" name="fields[description]" value="Mr. Bingler was on the spot, for here was a case not covered by the situations described in his handy little instruction booklet for Home Detectives. But the little man's courage held out, even when he found himself lying next to a murdered man, with his own sword-umbrella sticking out of the corpse as sure-fire evidence!" />
  
    <input type="hidden" name="fields[image]" value="https://www.talesofmurder.com/assets/img/novelettes/mr-binglers-murder-maze.jpg" />
  
    <input type="hidden" name="fields[downloadlink_kindle]" value="https://s3.amazonaws.com/talesofmurder.com/novelettes/mr-binglers-murder-maze.mobi" />
  
    <input type="hidden" name="fields[downloadlink_epub]" value="https://s3.amazonaws.com/talesofmurder.com/novelettes/mr-binglers-murder-maze.epub" />
    
    <input type="submit" value="DOWNLOAD" data-drip-attribute="sign-up-button" />
  </div>
  
  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded, or given away.</p>
  </div>
</form>
