<form action="https://www.getdrip.com/forms/607931078/submissions" method="post" data-drip-embedded-form="607931078" style="width:300px;margin:0 auto;">
  <h3 class="hidden">free novelettes download form</h3>
    <div class="email-field">
      <label for="fields[first_name]" style="text-align:left">First Name</label><br />
      <input type="text" name="fields[first_name]" value="" style="width:300px;height:35px;margin:0 auto;"/>
    </div>

    <br>

    <div class="email-field">
      <label for="fields[email]" style="text-align:left">Email Address</label><br />
      <input type="email" name="fields[email]" value="" style="width:300px;height:35px;margin:0 auto;" />
    </div>
  </div>

  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%;">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded or given away.</p>
  </div>

  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%;">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded or given away.</p>
  </div>
</form>
