<form action="https://www.getdrip.com/forms/437410156/submissions" method="post" data-drip-embedded-form="437410156">
  <h3 class="hidden">[LEAD] Novelette (free) Download</h3>
  <div>
    <div class="email-field">
      <h1 class="books__title">{{ page.title }}</h1>
      <h2 class="books__author">by {{ page.author }}</h2>
      <p class="bold">Enter your name &amp; email address to get your <em>FREE</em> copy of: <span class="bold bloodred uppercase">{{ page.title }}</span>.</p>
      <p class="small">Download links for both ePub &amp; Kindle editions will be sent by email.</p>
      <p class="small">You'll also receive notifications of new stories and special offers <em>FOR SUBSCRIBERS ONLY</em>!</p>
    </div>

    <div class="email-field">
      <label for="fields[first_name]">First Name</label><br>
      <input type="text" name="fields[first_name]" value="" />
    </div>

    <div class="email-field">
      <label for="fields[email]">Email Address</label><br>
      <input type="email" name="fields[email]" value="" />
    </div>

  </div>

  <div class="hidden-form-data">
    <input type="hidden" name="fields[title]" value="{{ page.title }}" />
    
    <input type="hidden" name="fields[author]" value="{{ page.author }}" />
  
    <input type="hidden" name="fields[series]" value="{{ page.series }}" />
  
    <input type="hidden" name="fields[genre]" value="{{ page.genre }}" />
  
    <input type="hidden" name="fields[casefileNumber]" value="{{ page.casefileNumber }}" />
 
    <input type="hidden" name="fields[description]" value="{{ page.description }}" />
  
    <input type="hidden" name="fields[image]" value="{{ page.image }}" />
  
    <input type="hidden" name="fields[downloadlink_kindle]" value="{{ page.kdl }}" />
  
    <input type="hidden" name="fields[downloadlink_epub]" value="{{ page.edl }}" />
    
    <input type="submit" value="DOWNLOAD" data-drip-attribute="sign-up-button" />
  </div>
  
  <div class="xsmall" style="margin:1rem auto 0;width:300px;max-width:75%">
    <p><i class="fa fa-lock" aria-hidden="true"></i> Your email address is secure and will only be used to communicate with you from this site. Your data will NEVER be sold, traded, or given away.</p>
  </div>
</form>
