<nav class="nav" role="navigation">

  <div class="social-nav hidden" style="display:flex;flex-direction:column;justify-content:space-around;">
    <h2 class="hidden">Social Media Submenu</h2>

    <a href="#" class="snipcart-user-profile" style="background-color:#8b0000;color:#fffff0;padding:4px 6px;margin-bottom:12px;"><span class="snipcart-user-email"><i class="fa fa-user"></i> Login/Register</span></a>
    <div style="align-self:center">
      <a href="#" class="snipcart-edit-profile small" style="color:#fffff0;">Edit Profile&nbsp;|</a>
      <a href="#" class="snipcart-user-logout small" style="color:#fffff0;">&nbsp;Logout</a>
    </div>
    <br>

    <!-- <ul>
      <li class="submenu__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li> 
      <li class="submenu__facebook"><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li class="submenu__twitter"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="submenu__rss"><a href="http://feeds.feedburner.com/TalesOfMurder" rel="alternate" type="application/rss+xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
      <li class="submenu__slack"><a href=""><i class="fa fa-slack" aria-hidden="true"></i></a></li>
    </ul>-->
  </div>

  <div class="main-nav">
    <a class="logo" title="{{ site.title }}" href="{{ site.url }}"><p><span>{{ site.title }}</span></p></a>

    <h2 class="hidden">Main Navigation</h2>
    <input id="nav" type="checkbox">
    <label for="nav">Menu</label>
    <ul>
      <li><a {% if page.category == 'home' %} class="active" {% endif %} href="/"><span>Home</span></a></li>
      <!-- <li><a {% if page.category == 'start-here' %} class="active" {% endif %} href="/start-here"/><span class="bg-start-here">Start Here</span></a></li> --> <!-- removed until page redone -->
      <li><a {% if page.category == 'murderwiki' %} class="active" {% endif %} href="/murderwiki/"><span>MurderWiki</span></a></li>
      <li><a {% if page.category == 'short-stories' %} class="active" {% endif %} href="/short-stories/"><span>Short Stories</span></a></li>
      <!-- <li><a {% if page.category == 'novelettes' %} class="active" {% endif %} href="/novelettes/"><span>Novelettes</span></a></li>  --> <!-- temporarily removed from menu on 1.24.19 until rolled over to Mautic -->
      <li><a {% if page.category == 'novellas' %} class="active" {% endif %} href="/novellas/"><span>Novellas</span></a></li>
      <li><a {% if page.category == 'novels' %} class="active" {% endif %} href="/novels/"><span>Novels</span></a></li>
      <!-- <li><a {% if page.category == 'adb' %} class="active" {% endif %} href="/armchair-detectives-bureau/"><span style="background-color:yellow;color:#8b0000;border-radius:2px;padding:0 0.25rem;font-size:0.875rem;">Join the A.D.B.</span></a></li> -->
      <!--<li><a {% if page.category == 'the-red-file' %} class="active" {% endif %} href="/subscriptions/"><span>Subscriptions</span></a></li>
       <li id="searchbar"><a href="#">Search</a></li> -->
    </ul>
  </div> <!-- end .main-nav -->

  {% unless page.category == 'ADB' or page.url != "https://www.talesofmurder.com//downloads/55ccf75fb3901011515aef30/" %}
    <a href="/armchair-detectives-bureau/" class="adb-signup"><span>JOIN THE ARMCHAIR DETECTIVES BUREAU</span></a>
  {% endunless %}

</nav> <!-- end nav.nav -->
