<nav class="navBar">
  <nav class="wrapper">
    <div class="logo"></div><!-- Logo -->
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle"></label>
    </input>
    <ul>
      <a href="#"><li>Home</li></a>
      <a href="#"><li>Masthead</li></a>
      <a href="#"><li>MurderWiki</li></a>
      <a href="#"><li>Short Stories</li></a>
      <a href="#"><li>The Red File</li></a>
      <a href="#"><li>Bookstore</li></a>
    </ul>
  </nav>
</nav>













<!-- <nav class="navBar">

  <nav class="wrapper">
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle">Menu</label>
    </input>
    <div class="logo"></div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Masthead</a></li>
      <li><a href="#">MurderWiki</a></li>
      <li><a href="#">Short Stories</a></li>
      <li><a href="#">The Red File</a></li>
      <li><a href="#">Bookstore</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </nav>

</nav>  end nav.navBar -->