<nav class="sc-nav">
  
  <div class="login">
    <ul class="">
      <li><a href="#">LOG IN</a></li>
      <li><a href="#">REGISTER</a></li>
    </ul>    
  </div>

  <div class="primary">
    <img src="/assets/img/site/logo_mobile_w2.png" alt="" class="logo-wide showOnMob">
    <img src="/assets/img/site/atticus_fffff0.png" alt="" class="logo-narrow showOnDesk">
    <ul class="">
      <li><a href="#">HOME</a></li>
      <li><a href="#">START HERE</a></li>
      <li><a href="#">MURDERWIKI</a></li>
      <li><a href="#">SHORT STORIES</a></li>
      <li><a href="#">NOVELLAS</a></li>
      <li><a href="#">NOVELS</a></li>
    </ul>
  </div>

  <div class="join">
    <a href="/armchair-detectives-bureau/" class="">JOIN THE ARMCHAIR DETECTIVES BUREAU</a> <!-- class was .adb-signup -->
  </div>




</nav>



























<!-- <nav class="sc-nav" role="navigation">
  

  <div class="navs">

    <ul class="top">
      <li><a href="#">LOG IN</a></li>
      <li><a href="#">REGISTER</a></li>
    </ul>

    <ul class="main">
      <img src="/assets/img/test/test-logo-wide.jpg" alt="">
      <li><a href="#">HOME</a></li>
      <li><a href="#">START HERE</a></li>
      <li><a href="#">MURDERWIKI</a></li>
      <li><a href="#">SHORT STORIES</a></li>
      <li><a href="#">NOVELLAS</a></li>
      <li><a href="#">NOVELS</a></li>
    </ul>

    <ul class="btm">
      <li><a href="#">JOIN A.D.B.</a></li>
    </ul>
    

  </div>





</nav> -->





















<!-- <nav class="sc-nav">
  <img src="/assets/img/test/test-logo-wide.jpg" alt="">
  <ul class="login-sub">
    <li><a href="#">LOGIN</a></li>
    <li><a href="#">REGISTER</a></li>
  </ul>
  <ul class="nav-main">
    <li><a href="#">HOME</a></li>
    <li><a href="#">START HERE</a></li>
    <li><a href="#">MURDERWIKI</a></li>
    <li><a href="#">SHORT STORIES</a></li>
    <li><a href="#">NOVELLAS</a></li>
    <li><a href="#">NOVELS</a></li>
    <li class="adb-nav"><a href="#">JOIN THE ARMCHAIR DETECTIVES BUREAU</a></li>
  </ul>
</nav> -->