<nav class="outer">
  <div class="banner">
    <h1 class="site-title">TALES OF MURDER</h1>
    <!-- <p class="nav-toggle">MENU</p> -->
    <i class="fa fa-bars nav-toggle"></i>
  </div>
  <nav class="main-navigation">
    <ul>
      <li class="primary-nav">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">START HERE</a></li>
          <li><a href="#">MURDERWIKI</a></li>
          <li><a href="#">SHORT STORIES</a></li>
          <li><a href="#">NOVELLAS</a></li>
          <li><a href="#">NOVELS</a></li>
          <!-- <li><a href="#">A.D.B.</a></li> -->
        </ul>
      </li>
      
      <li class="top-nav">
        <ul>
          <li>LOG IN</li>
          <li>REGISTER</li>
        </ul>
      </li>
      
      <li class="join-nav">JOIN THE A.D.B.</li>
    </ul>
  </nav>
</nav>


<script>
  $(function() {
  $('.nav-toggle').on('click', function(){
    $('.main-navigation').toggleClass('open');
  });
});
</script>






































<!-- <nav class="sc-nav">

  <input id="nav" type="checkbox">
  <label for="nav">Menu</label>
  
  <ul>
    <li>
      <div class="login">
        <ul class="">
          <li><a href="#">LOG IN</a></li>
          <li><a href="#">REGISTER</a></li>
        </ul>    
      </div>
    </li>
    <li>
      <div class="primary">
        <div>
          <img src="/assets/img/site/logo_mobile_w2.png" alt="" class="logo-wide showOnMob">
          <img src="/assets/img/site/atticus_fffff0.png" alt="" class="logo-narrow showOnDesk">

          <h2 class="hidden">Main Navigation</h2>
          
        </div>

        <ul>
          <li><a {% if page.category == 'home' %} class="active" {% endif %} href="/"><span>Home</span></a></li>
          <li><a {% if page.category == 'start-here' %} class="active" {% endif %} href="/start-here"/><span class="bg-start-here">Start Here</span></a></li>
          <li><a {% if page.category == 'murderwiki' %} class="active" {% endif %} href="/murderwiki/"><span>MurderWiki</span></a></li>
          <li><a {% if page.category == 'short-stories' %} class="active" {% endif %} href="/short-stories/"><span>Short Stories</span></a></li>
          <li><a {% if page.category == 'novellas' %} class="active" {% endif %} href="/novellas/"><span>Novellas</span></a></li>
          <li><a {% if page.category == 'novels' %} class="active" {% endif %} href="/novels/"><span>Novels</span></a></li>
          <li><a {% if page.category == 'adb' %} class="active" {% endif %} href="/novels/"><span>A.D.B.</span></a></li>
        </ul>
      </div>

    </li>
    <li>
      <div class="join">
    <a href="/armchair-detectives-bureau/" class="">JOIN THE ARMCHAIR&nbsp;DETECTIVES&nbsp;BUREAU</a> <!-- class was .adb-signup -->
  </div>
    </li>
  </ul>



  

  




</nav>



























<!-- <nav class="sc-nav" role="navigation">
  

  <div class="navs">

    <ul class="top">
      <li><a href="#">LOG IN</a></li>
      <li><a href="#">REGISTER</a></li>
    </ul>

    <ul class="main">
      <img src="/assets/img/test/test-logo-wide.jpg" alt="">
      <li><a href="#">HOME</a></li>
      <li><a href="#">START HERE</a></li>
      <li><a href="#">MURDERWIKI</a></li>
      <li><a href="#">SHORT STORIES</a></li>
      <li><a href="#">NOVELLAS</a></li>
      <li><a href="#">NOVELS</a></li>
    </ul>

    <ul class="btm">
      <li><a href="#">JOIN A.D.B.</a></li>
    </ul>
    

  </div>





</nav> -->





















<!-- <nav class="sc-nav">
  <img src="/assets/img/test/test-logo-wide.jpg" alt="">
  <ul class="login-sub">
    <li><a href="#">LOGIN</a></li>
    <li><a href="#">REGISTER</a></li>
  </ul>
  <ul class="nav-main">
    <li><a href="#">HOME</a></li>
    <li><a href="#">START HERE</a></li>
    <li><a href="#">MURDERWIKI</a></li>
    <li><a href="#">SHORT STORIES</a></li>
    <li><a href="#">NOVELLAS</a></li>
    <li><a href="#">NOVELS</a></li>
    <li class="adb-nav"><a href="#">JOIN THE ARMCHAIR DETECTIVES BUREAU</a></li>
  </ul>
</nav> -->