  <section class="hp__novels wrap">

    <header>
      <h2>NOVELS</h2>
      <a href="/novels">Browse <span class="bold">{{ site.novels | size }}</span> Novels &raquo;</a>
    </header>
  
    <ul class="cards__small">
    {% for novels in site.novels | limit:2 %}

      <li class="hp__card__small" {% if novels.genre %} id="{{ novels.genre | downcase }}"{% endif %}>
        
        <a href="{{ novels.url }}" class="readmore">
        <img src="{{ novels.image }}" alt="{{ novels.title }} by {{ novels.author }}"></a>
        <div style="display: flex;justify-content: space-between;">
          <div>
            <h2 class="title">{{ novels.title }}</h2>
            <h3 class="author"><span>by</span> {{ novels.author }}</h3>
          </div>
          <div class="price">
            <p>${{ novels.price }}</p>
          </div>
        </div>
        <p class="descriptive">{{ novels.descriptive }}</p>
        <p class="excerpt">{{ novels.excerpt }}</p>
        <button class="buybutton"><a href="{{ novels.url }}" style="color:#fffff0;">Learn More</a></button>
        <!-- <p class="buybutton">Buy</p> -->

      </li>

    {% endfor %}

    </ul>
    
  </section>