  <section class="hp__novels wrap">

    <header>
      <h2>NOVELS</h2>
      <a class="hp__link" href="/novels">Browse <span class="bold">{{ site.novels | size }}</span> Novels &raquo;</a>
    </header>
  
    <ul class="cards__small">
    {% for novels in site.novels | limit:2 %}

      <li class="hp__card__small" {% if novels.genre %} id="{{ novels.genre | downcase }}"{% endif %}>
        
        <a href="{{ novels.url }}" class="readmore">
        <img src="{{ novels.image }}" alt="{{ novels.title }} by {{ novels.author }}"></a>
        <div style="display: flex;justify-content: space-between;">
          <div>
            <h2 class="title">{{ novels.title }}</h2>
            <h3 class="author"><span>by</span> {{ novels.author }}</h3>
          </div>
          <div class="price">
            <p>${{ novels.price }}</p>
          </div>
        </div>
        <p class="descriptive">{{ novels.descriptive }}</p>
        <p class="excerpt">{{ novels.descriptor }}</p>
        
        {% if novels.prebuybutton %}
          <p style="border:1px solid #8b0000;margin: 1rem 0;padding:0 0.5rem;color:#8b0000;line-height: 1.5;"><span style="font-weight: bold;display: block;">NOT YET RELEASED.</span> PRE-BUY TODAY &amp; GET 50% OFF! </p>
          <button class="buybutton"><a href="{{ novels.url }}" style="color:#fffff0;">PRE-BUY</a></button>
        {% else %}
          <button class="buybutton"><a href="{{ novels.url }}" style="color:#fffff0;">BUY</a></button>
        {% endif %}

      </li>

    {% endfor %}

    </ul>
    
  </section>