  <section class="hp__novellas wrap">
    <header>
      <h2>NOVELLAS</h2>
      <a class="hp__link" href="/novellas">Browse <span class="bold">{{ site.novellas | size }}</span> Novellas &raquo;</a>
    </header>
 
    <ul class="cards__small">
    {% for novellas in site.novellas | limit: 3 %}

      <li class="card__small" {% if novellas.genre %} id="{{ novellas.genre | downcase }}"{% endif %}>
        
        <a href="{{ novellas.url }}" class="readmore">
          <figure>
            <img src="{{ novellas.image }}" alt="{{ novellas.title }} by {{ novellas.author }}">
          </figure>
          <figcaption>
            
          </figcaption>
        </a>
        <div class="card__small__header">
          <div>
            <h2 class="title">{{ novellas.title }}</h2>
            <h3 class="author"><span>by</span> {{ novellas.author }}</h3>
          </div>
          <div class="price">
            <p>${{ novellas.price }}</p>
          </div>
        </div>
          <p class="excerpt">{{ novellas.description }}</p>

        {% if page.buybutton %}
          <button class="buybutton"><a href="{{ novels.url }}" style="color:#fffff0;">BUY</a></button>
        {% else %}
          <p class="small" style="margin:1rem 0;padding:0.5rem;color:#8b0000;text-transform:uppdercase;font-weight:bold;">Currently Unavailable</p>
          <button class="buybutton"><a href="{{ novels.url }}" style="color:#fffff0;">MORE INFO</a></button>
        {% endif %}

      </li>

    {% endfor %}

    </ul>

  </section>