<!-- <meta content="{{ site.facebook.app_id }}" property="fb:app_id"> -->

<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.author %}
  <meta content="{{ page.author }}" property="book:author">
{% else %}
  <meta content="{{ page.series }}" property="book:author">
{% endif %}

{% if page.category == "murderwiki" %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="books.book" property="og:type">
{% endif %}

<meta content="{{ page.casefileNumber }}" property="books:isbn">

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}

{% if page.image %}
  <meta content="{{ site.url }}{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}assets/img/site/atticus_fffff0.svg" property="og:image">
{% endif %}