<!-- MASTHEAD: LOGO, TITLE, TAGLINE, ETC. -->

<header>

  <div class="wrap">

     <!-- <div class="masthead">
      <img src="/assets/img/site/logo-full36.svg" alt="Atticus, the Murderous Crow" class="logo">

    </div>end div.masthead -->

   <nav class="navBar" role="navigation">
   <h1 class="hidden" role="hidden">Main Navigation</h1>
    <nav class="wrapper">
      <div class="logo"></div>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/short-stories">Short Stories</a>
          <a href="/books">Books</a>
          <a href="/theredfile">The Red File</a>
          <a href="/murderwiki">MurderWiki</a>
        </li>
      </ul>
      <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle"></label>
      </input>
    </nav>
  </nav> <!--  end nav.mainnav -->

  </div> <!-- end div.wrap -->

</header>



<!-- <img src="/assets/img/site/fakehamburger36.svg" alt="" class="fakehamburger"> -->
      <!-- <h2 class="site__title">{{ site.title }}</h2> -->
      <!-- <h3 class="site__subtitle">{{ site.subtitle }}</h3> -->