<div class="optin4" id="optin4">
	<header>
		<h2>SUBSCRIBE to the <span class="blotter">Weekly&nbsp;Blotter<sup>*</sup></span></h2>
		<p class=""><sup>*</sup><span class="xsmall">Click YES, below, for details!!</span></p>
	</header>

 	<p>And get your free downloadable&nbsp;copy&nbsp;of</p>
 	<p><span class="optin__title">THE&nbsp;CAMPAGN&nbsp;FOR&nbsp;VENGEANCE!</span></p>
 	<p>A thilling novella of love, loss, danger,&nbsp;daring&nbsp;and&nbsp;self-sacrifice by John Baer!</p>

	<div class="optin__buttons">
		<a href="/the-red-file/" rel="nofollow" class="optin__button obYES">YES!<span>More Details!</span></a>

		<a href="#hide" rel="nofollow" onclick="myFunction()" id="nobutton" class="optin__button obNO">NO&hellip;<span>I hate free stuff.</span></a> 
	</div>
</div>

