<div id="optin-bar" class="optin-bar">

	<div class="optin-txt">
		<p class="optin-mh">Want your copy of the novella &mdash; <span class="optin-title">The&nbsp;Campaign for&nbsp;Vengeance?</span><span class="optin-sh">A thrilling tale of a murdered cop, and<wbr> the&nbsp;search&nbsp;for&nbsp;his&nbsp;killer&nbsp;by his sweet, innocent sister!</span></p>
	</div>

	<div class="optin-btns">
		<a href="#modal-box--open" class="btnY">YES!</a>
		<a href="#" class="btnN">No</a>
	</div> <!-- end div.optin-btns -->

</div> <!-- end div.optin-bar -->




<!-- alternate title :: A/B split test them! -->
<!-- <p class="optin-mh">Want your copy of the novel &mdash; <span class="optin-title">The&nbsp;Spider&nbsp;Lily?</span><span class="optin-sh">A thrilling tale of a solider's post traumatic stress, the murder of his filandering wife and the aftermath of war!</span></p> -->
















