<div id="optin-bar" class="optin-bar">
	
	<!-- <div class="optin-offer"> -->
		<div class="optin-txt">
			<p class="optin-mh">Want your own copy of <span class="optin-title">The&nbsp;Campaign for&nbsp;Vengeance?</span><span class="optin-sh">A thrilling tale of a murdered cop, and<wbr> the&nbsp;search&nbsp;for&nbsp;his&nbsp;killer&nbsp;by his sweet, innocent sister!</span></p>
		</div>

		<div class="optin-btns">
			<button class="btnY">YES!</button>
			<button class="btnN">No</button>
		</div> <!-- end div.optin-btns -->

	 <!-- </div> end div.optin-offer -->

<!-- 	<div class="optin-disclaimer">
		<p>You'll also receive the weekly notice of new stories, plus coupons &amp; extra surprises!</p>
		<p><i class="fa fa-lock" aria-hidden="true"></i> Your email is locked away in our ultra-secure safe. Unsubscribe anytime!</p>
	</div> -->


</div> <!-- end div.optin-bar -->



<!-- <br><small>I want to read <span class="optin-title">The Campaign for Vengeance</span>!</small>

<br><small>I prefer to waste time on social media garbage.</small> -->







<!-- <div class="optin2">

<h2 style="text-align: center;">Do you love a good <span>murder?</span></h2>

<div class="optin__buttons" style="text-align: center;">
  <a href="#" class="buttonY">YES!<br><small>Get Stories By Email</small></a>

  <a href="#" class="buttonN">NO!<br><small>Just read online</small></a>
</div>

</div> -->



<!-- <br>I love murder mysteries!<small><br>Send me a FREE mystery ebook to read!</small> <br>Mysteries confuse me!<small>I don't want a FREE story!</small>-->