<div class="optin3">
	<header class="optin__header">
		<!-- <img src="/assets/img/site/atticus_fffff0.svg" alt="">
		<h2>A special offer from Atticus, the Murderous Crow</h2> -->
		<!-- <h2>Read something <em>good</em> for a change!</h2> -->
		<h2>PSSST! Hey, you! <span>Lean closer to your screen &hellip; I've got a secret to tell you!</span></h2>
	</header>

	<div class="optin__content">
		<h3>Did you know you can get free stories just by signing up below?</h3>
		<p>Sure, you can read a few short stories online but the real fun is reading offline, on your Kindle or iPad. Am I right?</p>
		<p>Sign up and I'll send you a free novella </p>
	</div>


	<div class="optin__buttons">
		
	</div>


	<footer class="optin__footer">
		
	</footer>


</div>