<div id="optin-bar" class="optin-bar">

	<div class="optin-txt">
		<p class="optin-mh">You've read 'em but can you <em>solve</em> a murder mystery?<span class="optin-sh">5&ndash;min murder mystery brain teaser tests your mystery-solving skills!</span></p>
	</div>

	<div class="optin-btns modal">
		<button class="optin-bar__btn modal-trigger">YES! I love solving mysteries!!</button>
		<button class="closeout optin-bar__btn">No &hellip; I can't solve it.</button>
	</div>

</div> <!-- end div.optin-bar -->


















<!-- <button class="closout" style="background-color:#fffff0;color:#8b0000;border:none;border-radius:50%;height:1rem;width:1rem;font-size:0.75rem;">X</button> -->


	<!-- <div class="optin-btns">
		<a href="#modal-box--open" class="btnY">YES!<span>I love solving mysteries!</span></a>
		<a href="#" onclick="toggle_visibility('optin-bar')" class="btnN">No &hellip;<span>I can't solve it.</span></a>
	</div> end div.optin-btns --> 



<!-- alternate title :: A/B split test them! -->
<!-- <p class="optin-mh">Want your copy of the novel &mdash; <span class="optin-title">The&nbsp;Spider&nbsp;Lily?</span><span class="optin-sh">A thrilling tale of a solider's post traumatic stress, the murder of his filandering wife and the aftermath of war!</span></p> -->
















