<div class="optin1">

  <h2>Looking for a good murder mystery short story?</h2>

  <h1 class="title"><span class="title1">Tales</span> <span class="title2">of</span> <span class="title3">Murder</span></h1>
  <h2 class="tagline">For readers with time to <span>kill</span>!</h2>

  <p>Brings you a new murder mystery or crime short story every day, Mon &ndash; Sat &hellip; Always have something good to read!</p>

  <form action=""></form>

  <p>SIGN UP today &amp; get a free novella, readable on any ereader app or device, plus get notified every morning when a new short story is published.</p>

</div>