<div class="optin1">

	<header class="optinheader">
		<h2><span>Love a good <em>murder</em>?</span></h2>
		<div class="optin_copy">
			<img src="/assets/img/novellas/campaign-for-vengeance.jpg" alt="">
			<p>Get a FREE murder mystery novella when you sign up for THE RED FILE Weekly Blotter!</p>
		</div>
	</header>


	<div class="optin__buttons" style="text-align: center;">
	  <a href="/the-red-file/" class="buttonY">YES! I love murder mysteries!<small>Send me THE&nbsp;CAMPAIGN&nbsp;FOR&nbsp;VENGEANCE!</small></a>

	  <a href="#" class="buttonY">NO! Mysteries confuse me!<small>I don't want a FREE story!</small></a>
	</div>

</div>