<!-- MODAL -->

<div id="modal-box--open" class="modal-box">
    <a href="#modal-box--close" class="modal-box__overlay"></a>
    <div class="modal-box__content">
        <a href="#modal-box--close" class="modal-box--close">x</a>
        <h3>Download your copy of <span>THE CAMPAIGN FOR VENGEANCE</span></h3>
        <hr class="margin1r">
        <p>Enter your email address where I can send your free copy of this exciting novella. Just click the appropriate link (Kindle or ePub) in the email and enjoy.</p>
        <form action="#">
        	<label for="#">Email Address</label>
        	<input type="text" name="email">
        	<input id="gimme" type="submit" value="Gimme!">
        </form>
        <p class="disclaimer">You'll also be signed up to received a weekly notification of new stories posted to the site, as well as subscriber-exclusive coupons and special offers. Unsubscribe anytime.</p>
        <p class="disclaimer xsmall"><i class="fa fa-lock"></i>Your email address is locked securely away from prying eyes! NO SPAM EVER!</p>
    </div>
</div>