<div class="optin3">
	<header class="optin__header">
		<!-- <h2>Read something <em>good</em> for a change today &amp; every day!</h2> -->
		<h2>Don't waste time searching &hellip; spend&nbsp;it&nbsp;reading!</h2>
	</header>

	<div class="optin__top">
		<h3 class="bold">Sign up today for the <em>Weekly Blotter</em>,<br>and get a free novella &mdash; <em>THE CAMPAIGN FOR VENGEANCE</em> &mdash; just for trying it out.</h3>
		<p class="bold">First time subscribers also get a 25% off coupon by email!</p>
		<br>
		<hr>
		<br>
	</div>

	<div class="optin__content">
    <img src="/assets/img/novellas/campaign-for-vengeance.jpg" alt="The Campaign for Vengeance by John Baer">
    <div class="freebie__inner">
      <p class="books__title">THE CAMPAIGN FOR VENGEANCE</p>
      <p class="books__author">by <span>John Baer</span></p>
      <p class="etr">READ TIME: 1 HR AND 15 MINS</p>
      <p>After her beloved brother, Captain Jimmy Cornell, was found dead, with a small, white card on his chest bearing the words, The Mogal, Marguerite swore she’d bring the killers to justice.</p>
      <p class="book__price"><span class="strikethru">$1.49</span> FREE when you subscribe today!</p>
			<div class="optin__buttons">
				<a href="/the-red-file/" rel="nofollow" class="optin__button obYES">YES!<span>I like to read!</span></a>

				<a href="#" rel="nofollow" class="optin__button obNO">NO&hellip;<span>I'll waste time searching.</span></a> 
      </div>
    </div>
	</div>

	<footer class="optin__footer">
		<p>New short stories 6x per week &middot; Instant PREMIUM downloads directly from email &middot; Free weekly novella (normally $0.99 &ndash; 3.99) &middot; Early notification of new releases &middot; Weekly discount code (15% off everything!)</p>
	</footer>


</div>