<!-- OPTIN DROPDOWN - NO BUTTON TRIGGER -->
<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       e.style.display = 'none';
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script> 
	$(document).ready(function(){
		$(".nobutton").click(function() {
			$(".optin4").fadeOut("normal", function() {
				$(this).remove();
			});
		});
	});
</script> 

<script>
  $(document).ready(function(){
    $(".closeout").on("click", function(){
      $(".optin-bar").fadeOut("slow", function(){
        $(".nav").css({
          "z-index": "2",
          "position": "fixed",
          "top": "0"
        });
        $(".siteintro_top").css("margin-top", "76px");
      });
    })
  })
</script>

<script>
  $(document).ready(function(){
    $(function() {
  $("#modal-1").on("change", function() {
    if ($(this).is(":checked")) {
      $("body").addClass("modal-open");
    } else {
      $("body").removeClass("modal-open");
    }
  });

  $(".modal-fade-screen, .modal-close").on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });

  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });
});

  })
</script>

<!-- Due to a screw up on my part when I mistyped "corpse" as "corse" in the URL of Start With A Corpse when redirecting from FB, I had to set up a redirect that would automatically take anyone who clicked the post in FB to the correct page. I had to hide the start-with-a-corse story from the short stories TOC. Hence this (probably BAD) code. -->
<script>
  $(document).ready(function(){
    $(".redirect").remove();
  });
</script>

<!-- countdown timer: https://www.w3schools.com/howto/howto_js_countdown.asp -->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Feb 16 2019 11:59:59").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get todays date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      // If the count down is finished, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>








