
<!-- <script src="/assets/js/vendor/modernizr.custom.34164.js"></script> -->

<!--load jQuery, required-->
<!-- <script src="/assets/vendor/js/jquery-3.1.1.slim.min.js"></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script> -->

<!-- TYPEKIT -->
<script src="//use.typekit.net/gwl0zuj.js"></script>
<!-- <script>try{Typekit.load();}catch(e){}</script> -->
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- <script src="/assets/js/optin-bar.js"></script> -->


<!-- OPTIN DROPDOWN - NO BUTTON TRIGGER -->
<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       e.style.display = 'none';
    }
</script>

<!-- ISOTYPE -->
<!-- <script src+"/assets/js/jquery.isotop.js"></script> -->


<!-- HIDE DIV -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script> 
	$(document).ready(function(){
		$(".nobutton").click(function() {
			$(".optin4").fadeOut("normal", function() {
				$(this).remove();
			});
		});
	});
</script> 

			

<!-- <script>
function myFunction() {
  var x = document.getElementsByClassName("optin4");
  var i;
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
}	
</script> -->


<script>
  $(document).ready(function(){
    $(".closeout").on("click", function(){
      $(".optin-bar").fadeOut("slow", function(){
        $(".nav").css({
          "z-index": "2",
          "position": "fixed",
          "top": "0"
        });
        $(".siteintro_top").css("margin-top", "76px");
      });
    })
  })
</script>



<script>
  $(document).ready(function(){
    $(function() {
  $("#modal-1").on("change", function() {
    if ($(this).is(":checked")) {
      $("body").addClass("modal-open");
    } else {
      $("body").removeClass("modal-open");
    }
  });

  $(".modal-fade-screen, .modal-close").on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });

  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });
});

  })
</script>



<!-- Due to a screw up on my part when I mistyped "corpse" as "corse" in the URL of Start With A Corpse when redirecting from FB, I had to set up a redirect that would automatically take anyone who clicked the post in FB to the correct page. I had to hide the start-with-a-corse story from the short stories TOC. Hence this (probably BAD) code. -->
<script>
  $(document).ready(function(){
    $(".redirect").remove();
  });
</script>











