  <section class="hp__short-stories wrap">
    <header>
      <h2>SHORT STORIES</h2>
      <a class="hp__link" href="/short-stories">Browse <span class="bold">{{ site.short-stories | size }}</span> Short Stories &raquo;</a>
    </header>

    <ul class="cards__small">
    {% for short-stories in site.short-stories | limit: 6 %}

      <li class="card__small" {% if short-stories.genre %} id="{{ short-stories.genre | downcase }}"{% endif %}>
        
        <a href="{{ short-stories.url }}" class="readmore">
        <img src="{{ short-stories.image }}" alt="{{ short-stories.title }} by {{ short-stories.author }}"></a>
        <h2 class="title">{{ short-stories.title }}</h2>
        <h3 class="author">
          {% if short-stories.author %}
            <span>by</span> {{ short-stories.author }}
          {% else %}
            {{ short-stories.series }}
          {% endif %}
        </h3>
        <p class="descriptive">{{ short-stories.excerpt | truncate: 100 }}</p>
        <!-- <div class="price">
          <p>${{ short-stories.price }}</p>
        </div> -->
        <button class="buybutton"><a href="{{ short-stories.url }}" style="color:#fffff0;">READ</a></button>
        <!-- <p class="buybutton">Buy</p> -->

      </li>

    {% endfor %}

    </ul>
  
    <div class="cf"></div>

  </section>