<div class="showcart" id="showcart">
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
    <a href="https://transactions.sendowl.com/cart?merchant_id=32054" rel="nofollow" style="color:#8b0000;font-weight: bold;text-decoration: underline;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <script>sendOwl.cartWidget({merchantID: 32054,
                                cartPhrase: "Cart: ",
                                parent: document.getElementById("showcart"),
                                useCartImage: false,
                                customStyle: true
    });</script>
</div>