<div class="siteintro">
	<div class="siteintro_top">
		<img class="hideonmobile" src="/assets/img/site/tmp12.svg" alt="Tales of Murder, for readers with time to kill!">
	</div>
	<div class="siteintro_bottom wrap">
			<h1>Find something to&nbsp;read!<!--  <i class="fa fa-search"></i> --></h1> <!-- change this to a big-honkin' search bar -->
			<p>Digital Rights Management (DRM) free ebooks&nbsp;for any ereader device<br><br>Buy any title and get <span class="underline">both</span> ePub &amp; Kindle formats&nbsp;&hellip; included automatically!<br><br><span class="whitebar"><a href="/novels/">NOVELS</a> &middot; <a href="/novellas/">NOVELLAS</a> &middot; <a href="/short-stories/">SHORT&nbsp;STORIES&nbsp;</a>&middot; <a href="/subscriptions/">SUBSCRIPTIONS</a> &middot;<a href="/murderwiki/">&nbsp;MURDERWIKI</a></span></p>
	</div>

</div>