<div class="siteintro">
	<div class="siteintro_top">
		<img src="/assets/img/site/tmp12.svg" alt="Tales of Murder, for readers with time to kill!">
	</div>
	<div class="siteintro_bottom wrap">
			<h1>Find something to&nbsp;read!<!--  <i class="fa fa-search"></i> --></h1> <!-- change this to a big-honkin' search bar -->
			<p>Digital Rights Management (DRM) free ebooks for any ereader device<br>Buy any title and get <span class="underline">both</span> ePub &amp; Kindle <span class="small">(.mobi/.kf8)</span> formats &hellip; no extra charge!<br><br><span class="whitebar">NOVELS &middot; NOVELLAS &middot; SHORT&nbsp;STORIES&nbsp;&middot;&nbsp;ESSAYS</span></p>
	</div>

</div>