<section class="sns-download-form">
	<header class="black_header">
		<h4><em>DOWNLOAD your copy of</em></h4>
		<p><span class="bold uppercase xlarge">THE MAN WHO WOULD&nbsp;NOT&nbsp;DIE</span</p>
	</header>

	<div class="form-body" style="background-image:url('{{ page.bg-image }}');">
		<img class="" src="/assets/img/short-stories/sns/man-who-would-not-die.jpg" alt="">
		<div>
			<p>And get new murder mystery, crime &amp; detective short stories delivered to your inbox <span>3x</span> per week!</p>
			<p>Plus subscriber-only specials!!</p>
			{% include sns-form2.html %}
		</div>
	</div> <!-- end div.form-body -->
	
</section>