<section class="trf__issues">

  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis quas itaque, accusamus neque harum saepe similique ad consequatur earum, labore, dolor mollitia quis placeat. Ex repellat nemo at magnam.</li>
    <li>Numquam, vel aliquam fuga tenetur laudantium ut hic commodi iste magni, maxime dolores iusto ullam voluptatibus culpa aut nisi recusandae inventore voluptate accusamus. Consequuntur adipisci iure soluta quia nihil nam!</li>
    <li>Quis distinctio beatae iure doloremque velit commodi, possimus id dicta voluptates, sequi tempora ratione modi hic nostrum fugit architecto nemo repellendus! Recusandae aspernatur dolorum officiis fugiat hic, maiores dolore ut!</li>
    <li>At necessitatibus ut dolor similique cupiditate quod exercitationem eaque sint quibusdam dicta voluptates asperiores veniam, eligendi, in libero, consequuntur aperiam molestiae, officiis corrupti labore. Cumque modi et assumenda sed sint.</li>
    <li>Harum commodi nemo aliquid officia animi assumenda blanditiis repudiandae, omnis quis illum aperiam nisi tenetur, exercitationem eum provident porro, ullam. Quidem molestias, sunt magnam dolores amet repudiandae mollitia, eius harum!</li>
    <li>Obcaecati ipsum corporis aliquid, ipsam, quod error quam, ducimus rerum eveniet nam fuga. Unde ipsa, quibusdam, ipsam blanditiis error nobis odio ratione! Quidem sint nemo accusantium, distinctio maiores ex ipsa.</li>
    <li>Consectetur tempora impedit deleniti accusantium voluptatem praesentium quisquam nam, magnam placeat. Eaque debitis illum nesciunt doloribus praesentium reprehenderit molestiae similique quod perferendis provident. Hic maiores, sapiente exercitationem animi veritatis aut?</li>
    <li>Tempore non blanditiis totam quod in aspernatur sapiente tenetur fugit eligendi natus corporis quisquam rem eveniet impedit voluptatem cumque ab, autem ipsa consequatur itaque dolorum! Amet ipsum laboriosam esse consectetur.</li>
    <li>Natus sapiente sequi laborum, ipsam aperiam sed voluptatem vero dolore, dolorum voluptatum atque ipsa veniam rem reiciendis quisquam placeat. Vitae debitis quae iste, exercitationem? Suscipit tempora ullam, ea quo labore!</li>
    <li>Deserunt iure eaque cumque nesciunt sit iusto doloribus, rerum modi deleniti eveniet quae impedit possimus necessitatibus suscipit ipsum libero voluptatem accusamus inventore blanditiis autem magnam qui vitae illum aliquam! Eum.</li>
  </ul>

</section> <!-- end .trf__issues -->
