<section class="tripwire" style="margin-top:1rem;">
  <hr style="margin: 3rem 0;border-color: #8b0000;">
  <header class="center bloodred">
    <div>
      <h2 class="margin1r"><span style="border:2px solid #8b0000;border-radius:6px;padding:0.5rem;">SPECIAL OFFER</span></h2>
      <h3 class="margin1r">For Armchair Detectives ONLY!</h3>
    </div>
  </header>
  <div class="" style="margin:0 auto;width:650px;max-width:75%;">
    <p>Since you've demonstrated your commitment to reading &amp; solving great mystery stories, and proven yourself to be a true <span class="bold">Armchair Detective</span>, I'd like to make you a special offer.</p>
    <img src="/assets/img/novellas/killers-castle.jpg" alt="Killer's Castle by George Dilnot" style="height:200px;width:auto;float:right;margin:0 0 1rem 1rem;">
    <p>If you click the button, below, I'll give you a copy of my favorite novella &mdash; <span class="bloodred"><span class="bold">Killer's&nbsp;Castle</span> by&nbsp;George&nbsp;Dilnot</span> &mdash; for 50% off the normal price of $2.99!</p>
    <p>That's just <span class="bold bloodred">$1.49</span> if you click this button to buy today.</p>
    <br>
    <br>
  </div>

  <div class="center">
    <a href="https://transactions.sendowl.com/products/587633/B52303B8/purchase" rel="nofollow" class="add-to-cart">BUY NOW (50% off!)</a>
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
  </div>
  <p class="small center italics" style="margin:1rem;">Only available through this SPECIAL OFFER!</p>

  <!-- <hr> -->
  
  <div class="tw__desc">
    <h2 class="books__title">KILLERS' CASTLE</h2>
    <h3 class="books__author">by <span>George Dilnot</span></h3>
    <p class="metadata"><span class="etr">read time: <span class="hour">2</span>hr and <span class="time">21</span> min</span></p>
    <p>Magda Stewart had asked for his help and now she was missing. Could Elver find the girl before it was too late?</p>

    <br>

    <div class="toc">
      <header>
        <h6>Table of Contents</h6>
      </header>

      <ol>
        <li>A Lady in Trouble</li>
        <li>Elver Receives A Warning</li>
        <li>A Successful Frame-Up</li>
        <li>Beneath the Castle</li>
        <li>Theories</li>
        <li>In The Lion’s Den</li>
        <li>Crossed Swords</li>
        <li>Crook Schemes</li>
        <li>The Torture Chamber</li>
        <li>Elver Finds A Way</li>
        <li>Cards On The Table</li>
        <li>Haggle’s Last Throw</li>
      </ol>

    </div> <!-- end div.toc -->
  </div> <!-- end div.tw__desc -->

  <div class="center">
    <a href="https://transactions.sendowl.com/products/587633/B52303B8/purchase" rel="nofollow" class="add-to-cart">BUY NOW (50% off!)</a>
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
  </div>
  <p class="small center italics" style="margin:1rem;">Buy today &amp; starting reading immediately!</p>

</section>












