<section class="tripwire" style="margin-top:1rem;">
  <hr style="margin: 3rem 0;border-color: #8b0000;">
  <header class="center bloodred">
    <div>
      <h2 class="margin1r"><span style="border:2px solid #8b0000;border-radius:6px;padding:0.5rem;">SPECIAL OFFER</span></h2>
      <h3 class="margin1r">For Armchair Detectives ONLY!</h3>
    </div>
  </header>
  <div class="" style="margin:0 auto;width:650px;max-width:75%;">
    <p>Since you've demonstrated your commitment to reading &amp; solving great mystery stories, and proven yourself to be a true <span class="bold">Armchair Detective</span>, I'd like to make you a special offer.</p>
    <p>If you click the button, below, I'll send you a copy of my favorite novel &mdash; <span class="bloodred"><span class="bold uppercase">The&nbsp;Spider&nbsp;Lily</span> by&nbsp;Bruno&nbsp;Fischer</span> &mdash; for 50% off the normal price of $7.99!</p>
    <p>That's just <span class="bold bloodred">$3.99</span> if you click this button to buy today.</p>
    <!-- <br> -->
    <br>
  </div>

  <div class="center">
    <a href="https://transactions.sendowl.com/products/77659798/E3EB8697/purchase" rel="nofollow" class="add-to-cart">BUY NOW (50% off!)</a>
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
  </div>
  <p class="small center italics" style="margin:1rem;">Only available through this SPECIAL OFFER!</p>

  <!-- <hr> -->
  
  <div class="tw__desc">
    <h2 class="books__title">THE SPIDER LILY</h2>
    <h4 class="books__subtitle" style="margin-bottom:1rem;">A World War II era legal murder mystery thriller</h4>
    <h3 class="books__author">by <span>Bruno Fischer</span></h3>
    <img src="/assets/img/novels/spider-lily.jpg" alt="THE SPIDER LILY by Bruno Fischer">
    <p class="metadata" style="text-align:left;"><span class="etr">read time: <span class="hour">6</span>hr and <span class="time">56</span> min</span></p>
    <div style="text-align:left;">
      <p class="italics" style="margin-bottom: 1rem;">Alec Linn steps off the train at home after two years in the Air Force, fighting the Japs in India, expecting to find his wife, Lily, waiting for him on the platform.</p>
      <p class="italics" style="margin-bottom: 1rem;">But she wasn't there, and his family is unwilling to tell him where she is. Then Lily turns up dead and Alec is accused of her murder.</p>
      <p class="bold xlarge">Scroll down to read more &amp; get this exclusive offer before its too late!</p>
    </div>

    <div class="cf"></div>

    <div class="toc">
      <header>
        <h6>Table of Contents</h6>
      </header>

      <ol>
        <li>Returning Home</li>
        <li>Yesterday and Today</li>
        <li>Blood on the Lily</li>
        <li>The Jail</li>
        <li>For the People</li>
        <li>For Me</li>
        <li>The Verdict</li>
        <li>Sympathetic People</li>
        <li>Afternoon of the Mathematician</li>
        <li>Negotiation for a Name</li>
        <li>Poker</li>
        <li>Emil Schneider</li>
        <li>Flight</li>
        <li>Shadows and Spectors</li>
        <li>The Gamblers</li>
        <li>Don Yard</li>
        <li>Pursuit of an Equation</li>
        <li>The Pay-Off</li>
        <li>The Return</li>
        <li>Q.E.D.</li>
      </ol>

    </div> <!-- end div.toc -->
  </div> <!-- end div.tw__desc -->

  <article class="story">
    <h3 class="chapternumber">Chapter 1</h3>
    <h3 class="chaptertitle">Returning Home</h3>

    <p>She wasn’t there. I paused on the lowest step and looked past the two women running toward me. Lily wasn’t anywhere on the narrow station platform.</p>

    <p>“Getting off, Lieutenant?” the conductor said.</p>

    <p>I stepped down to the platform. My sister Ursula flung her arms about me and held me to her cushiony bosom and said my name over and over as if to taste the sound of it.</p>

    <p>Miriam watched me with a tremulous smile. Her black hair was gathered back in a tight bun, showing her high forehead to the hairline. The summer sun had given an Oriental burnish to her normally dark skin, making a charming contrast with the egg-shell white of her thin, nicely filled sweater.</p>

    <p>“Where’s Lily?” I asked Ursula.</p>

    <p>“She couldn’t come.” Ursula’s fingers ran over the ribbons on my chest. “You didn’t write us about all those medals.”</p>

    <p>“Why couldn’t Lily come?” I said Ursula stepped back.</p>

    <p>“I’ll explain later. Aren’t you going to say hello to Miriam?”</p>

    <p>I held out a hand to Miriam. She didn’t seem to notice it She leaned against me and tilted her face and I brushed her mouth with mine. Her hands touched my arms and fell away quickly when I turned back to Ursula.</p>

    <p>“Is that the way to kiss Miriam after two years, Alec?” Ursula boomed.</p>

    <p>She was a big woman, large-boned rather than fleshy, handsome rather than pretty. She was feminine enough for most men’s taste, except when she was bossy and then she assumed the voice and manner of a back-slapping male. I’d never liked that in her, and it jarred me now, particularly.</p>

    <p>“Has anything happened to Lily?” I persisted.</p>

    <p class="tobecontinued center bloodred">The story continues &hellip;<br>BUY NOW and find out what happened to Lily!</p>
    <br>
    <hr>
    <br>
  </article>

  <div class="center" style="margin-top: 1rem;">
    <a href="https://transactions.sendowl.com/products/77659798/E3EB8697/purchase" rel="nofollow" class="add-to-cart">BUY NOW (50% off!)</a>
    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
  </div>
  <p class="small center italics" style="margin:1rem;">Buy today &amp; starting reading immediately!</p>

</section>












