<div class="wbar">

  <header>
  	<img src="/assets/img/site/adb-badge.png" alt="The Armchair Detectives' Bureau" class="adb-badge" width="50px">
	  <div>
	  	<h2>You’ve read ‘em but can you solve ’em?</h2>
	  	<p>5&ndash;min murder mystery brain teaser tests your mystery solving skills!</p>
	  </div>
  </header>

  <div class="wbar__buttons">
  	<button>Get my FREE<span>Armchair Detective's Test</span></button>
  	<!-- <button>No &hellip;<span>I can't solve it.</span></button> -->
  </div>

</div> <!-- end div.wbar -->