* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
}

*:before, *:after {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
}

@-ms-viewport{
  width: device-width;
}

html {
  box-sizing: border-box !important;
  // background-color: $bgcolor;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body {
  // display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  font-size: 100%; /* 1rem; ... equivalent to 16px */
  line-height: 1.25; /* equivalent to 20px */
  // font-family: $base-font-family;
  color: $pcolor;
  background-color: $paper;
}

a {
  color: $acolor;
  &:hover {
    color: lighten($acolor, 10%);
    text-decoration: underline;
  }
}

.uppercase {
  text-transform: uppercase;
}

figure {
  margin: 0 1rem;
}

figcaption {
  font-variant: small-caps;
  font-weight: bold;
  color: $acolor;
}



