/* ==========================================================================
   VARIABLES
   ========================================================================== */

@import 'fonts';


/*==========  FONTS  ==========*/

/* TYPE FACES */

$header-font-family: /* "Josefin Sans",*/sans-serif;
$branding-font-family: /* "nimbus-sans-condensed",*/sans-serif; /* "ltc-broadway" */
$base-font-family: /* "Helvetica Neue",*/ Helvetica, Arial, sans-serif; /* "raleway",sans-serif; */
$big-fancy-title: /* "brim-narrow-combined-1",*/sans-serif;
$big-fancy-title1: /* "brim-narrow-combined-2",*/sans-serif;
$big-fancy-title2: /* "brim-narrow-combined-3"*/;
$big-fancy-title3: /* "brim-narrow",*/ sans-serif;
$header-font: "blakely", sans-serif;

/* FONT WEIGHTS */
$light: 300;
$regular: 400;
$bold: 700;
$black: 800;
$base-font-weight: $regular;
$base-font-size: 1em !default;
$base-line-height: 1.4;
$header-font-weight: $bold;


/*==========  COLORS  ==========*/

$bgcolor: #242424;
$pcolor: #474F55;
$acolor: #8B0000; /* darkred */
$bcolor: #008b00;
$paper: #fffff0;
$bordercolor: lighten($bgcolor, 60%);
$theblue: #0054a6;
$thegreen: #009966;



