/* ==============
     ADB SIGNUP
   ============== */

.adb-signup {
	position: absolute;
	top: 65px;
	right: 30px;
	z-index: 5;
	span {
		background-color: $highlight;
		color: $acolor;
		font-weight: bold;
		border:1px solid $acolor;
		padding:0.25rem 0.5rem;
	}
}










