/*=============================================
=    BOOKS [NOVELLA & NOVELS] PAGE            =
=============================================*/

.books {
	// display: flex;
	// flex-direction: column;
}

.books__header {
	// background-color: green;
	border-bottom: 1px solid darken($paper, 75%);
	margin: 1rem 0;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 48rem){
		flex-direction: row;
	}
}

.book__img {
	@include span(8);
	width: 100%;
	height: 100%;
	// background-color: $paper;
	margin-bottom: 1rem;
	// @media screen and (min-width:30rem){
	// 	@include span(4 of 8);
	// 	height: 100%;
	// }
	@media screen and (min-width:48rem){
		@include span(5 of 12);
		height: 100%;
	}
}

.book_details {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	align-self: center;
	// @include span(6 of 12);
}

.books__title {
	font-size: 1.25rem;
	color: $acolor;
	margin: 0;
	// background-color: $bgcolor;
	text-transform: uppercase;
	// text-align: center;
}

.books__author {
	font-style: italic;
	font-size: 1rem;
	margin-bottom: 1rem;
	// text-align: center;
	span {
		font-style: normal;
		color: $acolor;
	}
}

.buyme {
	// display: flex;
	// justify-content: space-between;
	// border: 1px solid lighten($acolor, 50%);
	// border-radius: 4px;
	// background-color: lighten($acolor, 50%);
	// color: $bgcolor;
	// margin: 1rem 0;
}

.buyme__details {
	display: flex;
	align-self: center;
	margin-right: 1rem;
}

.book__price {
	// border: 1px solid $acolor;
	// border-radius: 5px;
	// text-align: center;
	font-weight: bold;
	color: $acolor;
	font-size: 1.5rem;
}

.download-sample {
	background-color: #C02200;
	border-radius: 5px;
	color: $paper;
	width: 150px;
	height: 50px;
	font-size: 1.125rem;
	font-weight: normal;
	padding: 1rem;
	margin-left: 1rem;
	text-align: center;
}

.book__buttons {
	display: flex;
}

.book__meta {
	border-top: 2px solid $acolor;
	margin: 1rem 0;
	padding: 1rem 0;
	font-size: 0.875rem;
	h4 {
		color: $acolor;
		margin-bottom: 0.5rem;
	}
	li {
		list-style-type: circle;
	}
}

.pagelengthdisclaimer {
	font-style: italic;
	font-size: 0.75rem
}



