/*=============================================
=    BOOKS [NOVELLA & NOVELS] PAGE            =
=============================================*/

.books {
	// display: flex;
	// flex-direction: column;
}

.books__header {
	// background-color: green;
	// border-bottom: 1px solid darken($paper, 75%);
	margin: 1rem 0;
	padding-bottom: 1rem;
	display: -webkit-flex;
	display: flex; /* messes up layout on ipad & iphone */
	flex-direction: column;
	-webkit-flex-direction: column;
	@media screen and (min-width: 48rem){
		flex-direction: row;
	}
}

.book__img {
	@include span(8);
	width: 100%;
	// height: 100%;
	border: 1px solid $bgcolor;
	// background-color: $paper;
	margin-bottom: 1rem;
	// @media screen and (min-width:30rem){
	// 	@include span(4 of 8);
	// 	height: 100%;
	// }
	@media screen and (min-width:48rem){
		@include span(5 of 12);
		height: 100%;
	}
}

.book_details {
	// background-color: blue;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 0 1rem;
	h1 {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 48rem){
		margin-left: 2rem;
		text-align: left;
	}
}

.books__title {
	// font-size: 1.25rem;
	color: $acolor;
	margin: 0;
	// background-color: $bgcolor;
	text-transform: uppercase;
	// text-align: center;
}

.subtitle {
	font-style: italic;
	font-size: 1.5rem;
}

.books__author {
	font-style: italic;
	font-size: 1rem;
	margin-bottom: 1rem;
	// text-align: center;
	span {
		font-style: normal;
		color: $acolor;
	}
}

.buyme {
	// display: flex;
	// justify-content: space-between;
	// border: 1px solid lighten($acolor, 50%);
	// border-radius: 4px;
	// background-color: lighten($acolor, 50%);
	// color: $bgcolor;
	// margin: 1rem 0;
}

.buyme__details {
	display: flex;
	align-self: center;
	margin-right: 1rem;
}

.book__price {
	// border: 1px solid $acolor;
	// border-radius: 5px;
	// text-align: center;
	font-weight: bold;
	color: $acolor;
	font-size: 1.5rem;
}

// .download-sample, .add-to-cart {
// 	background-color: $paper;
// 	color: darken($acolor, 10%);
// 	border: 1px solid darken($acolor, 10%);
// 	border-radius: 5px;
// 	display: flex;
// 	align-self: center;
// 	width: 150px;
// 	height: 50px;
// 	font-size: 1rem;
// 	font-weight: normal;
// 	// padding: 1rem 0 0 0;
// 	margin-left: 1rem;
// 	text-align: center;
// 	&:hover {
// 		background-color: darken($acolor, 10%);
// 		color: $paper;
// 	}
// }

.download-sample, .add-to-cart { /* http://css3buttongenerator.com/ */
	border: 1px solid darken($acolor, 10%);
	border-radius: 5px;
	font-size: 1rem;
	padding: 0.625rem 1.25rem;
	background-color: darken($acolor, 10%);
	color: $paper;
	&:hover {
		color: darken($acolor, 10%);
		background-color: $paper;
	}
}




.book__buttons {
	// border: 1px solid hotpink;
	display: flex;
	justify-content: space-around;
}

.book__meta {
	border-top: 2px solid $acolor;
	margin: 1rem 0;
	padding: 1rem 0;
	font-size: 0.875rem;
	h4 {
		color: $acolor;
		margin-bottom: 0.5rem;
	}
	li {
		list-style-type: circle;
	}
}

.pagelengthdisclaimer {
	font-style: italic;
	font-size: 0.75rem
}

.tobecontinued {
	font-weight: bold;
	// text-align: center;
	max-width: 90%;
	margin: 0 auto;
	font-size: 1.25rem;
}

.prebuy {
	// border: 1px solid blue;
	display: flex;
	flex-direction: column;
	// width: 50%;
	margin: 1rem;
	// align-items: center;
	a {
		margin-left: 0;
	}
	.prebuy-disclaimer {
		font-size: 0.75rem;
		margin: 0.5rem 0;
		width: 150px;
	}
}

.prebuysample {
	@extend .prebuy;
	// border: 1px solid green;
}

.prebuy-pitch {
	background-color: yellow;
	font-size: 1rem;
}

.prebuyh {
	font-size: 1.25rem;
	text-align: center;
	background-color: $acolor;
	color: $paper;
	margin: 0 auto 1rem;
	padding: 0.5rem 1rem;
	border: 2px double $acolor;
	h3 {
		font-size: 1.5rem;
	}
	.discount {
		text-align: center;
		color: $acolor;
		font-weight: bold;
		font-size: 1rem;
		margin-top: 1rem;
		span {
			padding: 0.25rem;
			background-color: yellow;
		}
	}
	.note {
		font-size: 0.75rem;
		text-align: left;
	}
}

.addmargin {
	// padding: 0 1rem;
	max-width: 50%;
}

.smallnote {
	font-size: 0.75rem;
	color: #999;
}

.testimonials {
	border: 1px solid $acolor;
	margin: 1rem;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.875rem;
}

.hp__testimonials {
	line-height: 1.25;
	margin: 1rem;
	padding: 1rem;
}




