

.smallnav {
  border-top: 1px solid #5e6971;
  display: flex;
  justify-content: space-between;
}




.breadcrumbs {
  // color: lighten($pcolor, 15%);
  padding-top: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.breadcrumb {
  display: inline;
  li {
    display: inline;
    &:not(:last-child):after {
      content: "\00bb";
      color: $acolor;
    }
    a {
      color: lighten($pcolor, 15%);
    }
  }
  .active {
    color: $acolor;
    border-bottom: none;
    font-weight: bolder;
  }
}

.showcart {
  // border: 1px solid chartreuse;
  display: flex;
  margin: 1rem 1rem 0 0;
  height: 15px;
}

 // style="width: 75px;float: right;"

.fa-shopping-cart {
  color: $acolor;
  margin: 0 0.4rem 0 0;
}

#sendowl-cart-widget {
  color: $acolor;
  text-align: center;
  margin-top: 0.2rem;
  font-size: 0.875rem;
}

.cart-count {
  font-weight: bold;
  font-style: italic;
}
