/* ==========================================================================
   SMALL CARD MODULE
   ========================================================================== */

.cards__small {
	@include cf;
  line-height: 0;
  list-style: none;
  p {
    // line-height: 1.5rem;
    padding: 5px 10px;
  }
}

.hp__link {
	&:hover {
		color: $acolor !important;
		// background-color: $acolor;
		font-style: italic;
	}
}

.card__small {
	@include cf;
	width: span(8 of 8);
	margin-bottom: 1rem;
	margin-top: 1rem;
	img {
		opacity: 0.85;
		filter: saturate(75%);
		&:hover {
			opacity: 1;
			filter: saturate(100%);
		}
		width: span(4 of 8);
		min-height: 210px;
		float: left;
		margin-right: 1rem;
		object-fit: cover;
		height: auto;
		// margin-right: 0.75rem;
		border: 1px solid black;
		box-shadow: -4px 8px 8px transparentize($pcolor, .8);
		@include susy-breakpoint($bp-med){
			float: none;
			width: span(8 of 8);
		} 
	}
	h2 {
		color: $acolor;
		font-size: 1rem;
		text-transform: uppercase;
		margin-top: 1rem;
	}
	h3 {
		// color: $acolor;
		font-size: 0.75rem;
		span {
			color: $pcolor;
			font-style: italic;
			font-weight: normal;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	.price {
		font-weight: bolder;
		font-size: 0.875rem;
		text-align: center;
		border: 1px solid $acolor;
		color: $acolor;
		margin-top: 1rem;
		padding: 1rem 0.25rem;
		height: 25px;
		width: 50px;
	}
	.card__small__header{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// width: 50px;
		margin-bottom: 1rem;
		@include susy-breakpoint($bp-large){
			flex-direction: row;
		}
	}
	.buybutton {
		background-color: darken($acolor, 10%);
		color: $paper;
		margin-top: 0.5rem;
		// padding: 1rem;
		height: 35px;
		width: 150px;
		border: 1px solid darken($acolor, 10%);
		border-radius: 4px;
		a {
			color: $paper !important;
		}
		&:hover {
			background-color: $acolor;
		}
	}
	.descriptive {
		font-size: 0.857rem;
		font-style: italic;
		color: lighten($pcolor, 10%);
		line-height: 1;
		margin-top: 0.25rem;
	}
	@include susy-breakpoint($bp-med){
    @include gallery(4 of 12);
    margin-bottom: gutter();
  }
  @include susy-breakpoint($bp-large){
    @include gallery(4 of 12);
    margin-bottom: gutter();
  }
}


.hp__novels {
	header {
		margin-bottom: 1rem;
	}
}

.hp__cards__small {
	@include susy-breakpoint($bp-med){
		@include gallery(8 of 8);
	}
}

.hp__card__small {
	margin-bottom: 1rem;
	img {
		border: 1px solid $bgcolor;
	}
	h2 {
		color: $acolor;
		font-size: 1rem;
		text-transform: uppercase;
		margin-top: 1rem;
	}
	h3 {
		// color: $acolor;
		font-size: 0.75rem;
		span {
			color: $pcolor;
			font-style: italic;
			font-weight: normal;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	.price {
		font-weight: bolder;
		font-size: 0.875rem;
		text-align: center;
		border: 1px solid $acolor;
		color: $acolor;
		margin-top: 1rem;
		padding: 1rem 0.25rem;
		height: 25px;
	}
	.buybutton {
		background-color: darken($acolor, 10%);
		color: $paper;
		margin-top: 0.5rem;
		padding: 0; /* to fix the scrunched LEARN MORE on Mom's computer! */
		height: 35px;
		width: 125px;
		max-width: 80%; /* added to see if it'll fix Dads text overlap issue */
		border: 1px solid darken($acolor, 10%);
		border-radius: 4px;
		a {
			color: $paper !important;
		}
		&:hover {
			background-color: $acolor;
		}
	}
	.descriptive {
		font-size: 0.857rem;
		font-style: italic;
		color: lighten($pcolor, 10%);
		line-height: 1;
		margin-top: 0.25rem;
	}
	@include susy-breakpoint($bp-med){
		@include gallery(4 of 8);
	}	
}








// .hp__novels__featured {
	// background-color: green;
	// display: flex;
	// flex-direction: row !important;
// }

// .hp__novels__featured .cards__small {
// 	display: flex;
// 	margin-top: 1rem;
// 	width: span(12 of 12);
// 	justify-content: space-around;
// }

// .hp__novels__featured .hp__card__small {
// 	// width: span(12 of 12);
// 	display: flex;
// }

// .hp__novels__teasers .cards__small {
// 	display: flex;
// 	margin-top: 1rem;
// 	width: span(12 of 12);
// 	justify-content: space-around;
// }

// .hp__card__small {
// 	width: span(4 of 12);
// 	img {
// 		float: right;
// 	}
// }



