/*=============================================
=    DOWNLOADS PAGE            								=
=============================================*/

.dwn-ty-bar {
  background-color: $acolor;
	color: $paper;
	margin-top: 6.5rem;
	padding: 1rem 1rem 0.5rem 1rem;
  text-align: center;
  font-size: 1.25rem;
	font-weight: bold;
	@media screen and (min-width: 400px){
		margin-top: 0;
		padding: 0.75rem 0 0.05rem 0;
	}
  span {
    font-size: 1rem;
    font-weight: normal;
  }
}




.page-intro {
  min-height: 100vh;
	h2 {
		text-align: center;
		color: $acolor;
		border: 2px solid $acolor;
		border-radius: 8px;
		margin-bottom: 2rem;
	}
	h3 {
		text-align: center;
		margin-bottom: 1.5rem;
	}
}

.download-instructions {
	border-top: 1px solid $bgcolor;
	border-bottom: 1px solid $bgcolor;
	margin: 1rem;
}

.download__smallprint {
	border: 1px solid $bgcolor;
	font-size: 0.75rem;
	width: 500px;
	max-width: 80%;
	margin: 0 auto 1rem;
	padding: 1rem 1rem 0 1rem;
}
