// /*====================================================================
// =            MAILCHIMP FORM FOR BASIC SIGNUP LANDING PAGE            =
// ====================================================================*/

#mc_embed_signup.hide:after, #mc_embed_signup.hide:before {display:none; }

form {
  border: 2px solid $acolor;
  color: $acolor;
  // height: 200px;
  width: 500px;
  max-width: 98%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#mc_embed_signup_scroll {
  h2 {
    color: $acolor;
    text-transform: uppercase;
    border: 2px solid $acolor;
    border-radius: 8px;
  }
  p span {
    // background-color: $acolor;
    // color: $paper;
    padding: 0.5rem;
    text-decoration: underline;
    margin-top: 0.25rem;
    display: inline-block;
  }
}


label {
  margin-right: 1rem;
  margin-bottom: 2rem !important;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center !important;
  color: $acolor;
  // opacity: 0.5;
}

#mc_embed_signup input[type=submit] {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid darken($acolor, 10%);
  border-radius: 5px;
  font-size: 24px;
  text-transform: uppercase;
  background-color: darken($acolor, 10%);
  color: $paper;
  text-align: center;
  max-width: 90%;
  // opacity: 1;
  cursor: pointer;
  &:hover {
    background-color: $paper;
    color: darken($acolor, 10%);
    border: 1px solid darken($acolor, 10%);
  }
}

#mce-EMAIL {
  max-width: 90%;
}

// #mc_embed_signup input:hover[type=submit] {font-weight: bold;}

#mc_embed_signup input[type=email] {
  border: 1px solid #333;
  // box-shadow: inset 2px -2px 4px 2px rgba(0,0,0,0.4);
  background-color: darken($paper, 5%);
  font-size: 1.5rem;
  color: $acolor;
  padding-left: 0.5rem;
}
