/* OPTIN4 */

.optin4 {
  border: 2px solid $acolor;
  background-color: darken($paper, 1%);
  color: $acolor;
  width: 750px;
  max-width: 98%;
  margin: 1.5rem auto -1rem;
  padding: 20px;
  text-align: center;
  header {
    border: 1px solid $acolor;
    border-radius: 8px;
    color: $acolor;
    margin-bottom: 1rem;
    padding: 0.5rem;
    span {
      font-style: italic;
    }
    p {
      margin: 0.5rem 0;
    }
  }
  .optin__title {
    display: inline-block;
    padding: 0.5rem;
    // text-decoration: underline;
    font-weight: bold;
    background-color: $acolor;
    color: $paper;
    margin: 0.25rem 0;
  }
}






























/* OPTIN3 */

.optin3 {
  display: flex;
  flex-direction: column;
  border: 4px solid $bgcolor;
  background-color: darken($paper, 2%);
  box-shadow: 0px 3px 15px lighten($bgcolor, 20%);
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto 0;
  padding: 1rem;
  .optin__header{
    display: flex;
    justify-content: center;
    background: $bgcolor url('/assets/img/site/pulpicons2.svg');
    background-size: cover;
    color: $paper;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem;
    h2 {
      // text-transform: uppercase;
      font-size: 1rem;
      text-align: center;
      letter-spacing: 2px;
      align-self: center;
      span {
        display: block;
        font-size: 0.9375rem;
      }
    }
  }

  .optin__top {
    max-width: 75%;
    margin: 0 auto;
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25rem;
      color: $acolor;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .optin__content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-items: center;
    margin: 0 auto;
    // padding: 2rem;
    img {
      width: 300px;
      height: auto;
      margin: 0 0 1rem 0;
      border: 1px solid $bgcolor;
      align-self: center;
    }
    h3 {
      span {
        display: block;
        font-size: 0.875rem;
        color: lighten($pcolor, 10%);
      }
    }
    @media screen and (min-width: 48rem){
      flex-direction: row;
      img {
        margin: 0 1rem 0 0;
        width: 200px;
      }
    }
  }

  

  .optin__footer {
    // display: flex;
    background: $bgcolor url('/assets/img/site/pulpicons2.svg');
    background-size: cover;
    color: $paper;
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    p {
      letter-spacing: 1px;
    }
  }
}

.optin__buttons {
  // border: 2px solid purple;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // margin-top: 2rem;
  .optin__button {
    display: block;
    width: 200px;
    border: 1px solid $acolor;
    border-radius: 8px;
    box-shadow: 0px 5px 5px $pcolor;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
    span {
      display: block;
      font-size: 0.75rem;
      color: lighten($pcolor, 10%);
    }
    &:hover {
      background-color: $acolor;
      color: $paper;
      span {
        color: $paper;
      }
    }
  }
  .obYES {
    // background-color: darken($paper, 5%);
  }
  .obNO {
    // background-color: lighten($bgcolor, 65%);
  }
  @media screen and (min-width: 48rem){
    flex-direction: row;
    justify-content: center;
  }
}



















/* OPTIN1 */

// .optin1 {
//   background: $bgcolor url('/assets/img/site/pulpicons2.svg');
//   // background-color: $bgcolor;
//   color: $paper;
//   padding: 1rem;
//   margin: 2rem auto;
//   text-align: center;
//   // h2 {
//   //   text-align: center;
//   //   margin: 0 0 1rem 0;
//   //   span {
//   //   text-transform: uppercase;
//   //     display: block;
//   //     // color: $acolor;
//   //     font-size: 2rem;
//   //     text-decoration: underline;
//   //   }
//   // }
//   a {
//     text-align: center;
//     // text-transform: uppercase;
//     small {
//       display: block;
//       // font-size: 0.75rem;
//       font-style: italic;
//       color: lighten($pcolor, 35%);
//     }
//   }
// }

// .optin__inner {
//   border: 8px solid transparent;
//   -webkit-border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   -o-border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   width: 100%;
//   max-width: 960px;
//   margin: 0 auto;
//   h3, h4 {
//     text-align: right;
//     text-transform: uppercase;
//     color: $acolor;
//     padding-right: 10rem;
//   }
//   p {
//     width: 50%;
//     text-align: right;
//   }
// }

// .optinheader {
//   padding: 1rem;
//   width: 100%;
//   h2 {
//     color: $paper;
//     text-align: center;
//     margin: 1rem 0 3rem;
//     span {
//       border: 3px solid $paper;
//       border-radius: 8px;
//       font-size: 2rem;
//       padding: 1rem;
//     }
//   }
//   .optin_copy {
//     @include cf;
//     display: flex;
//     justify-content: center;
//     // background-color: $paper;
//     border-radius: 2px;
//     // color: $bgcolor;
//     max-width: 48rem;
//     // height: auto;
//     text-align: left;
//     margin: 0 auto;
//     padding: 1rem;
//     img {
//       width: 100px;
//       height: 162px;
//       margin-right: 1rem;
//       border: 1px solid $bgcolor;
//     }
//     p {
//       align-self: center;
//       max-width: 300px;
//     }
//   }
// }









