/* OPIN3 */

.optin3 {
  border: 4px solid $bgcolor;
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto 0;
  .optin__header{
    display: flex;
    justify-content: center;
    background: $bgcolor url('/assets/img/site/pulpicons2.svg');
    background-size: cover;
    color: $paper;
    padding: 0.5rem;
    img {
      height: 45px;
      width: 30px;
      margin-right: 1rem;
    }
    h2 {
      // text-transform: uppercase;
      font-size: 1rem;
      text-align: center;
      letter-spacing: 2px;
      align-self: center;
      span {
        display: block;
        font-size: 0.9375rem;
      }
    } 
  }

  .optin__content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    img {
      width: 100px;
      height: 162px;
      margin-right: 1rem;
      border: 1px solid $bgcolor;
    }
    h3 {
      span {
        display: block;
        font-size: 0.875rem;
        color: lighten($pcolor, 10%);
      }
    }
    div {

    }
  }

  .optin__buttons {

  }

  .optin__footer {

  }
}





















/* OPTIN1 */

// .optin1 {
//   background: $bgcolor url('/assets/img/site/pulpicons2.svg');
//   // background-color: $bgcolor;
//   color: $paper;
//   padding: 1rem;
//   margin: 2rem auto;
//   text-align: center;
//   // h2 {
//   //   text-align: center;
//   //   margin: 0 0 1rem 0;
//   //   span {
//   //   text-transform: uppercase;
//   //     display: block;
//   //     // color: $acolor;
//   //     font-size: 2rem;
//   //     text-decoration: underline;
//   //   }
//   // }
//   a {
//     text-align: center;
//     // text-transform: uppercase;
//     small {
//       display: block;
//       // font-size: 0.75rem;
//       font-style: italic;
//       color: lighten($pcolor, 35%);
//     }
//   }
// }

// .optin__inner {
//   border: 8px solid transparent;
//   -webkit-border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   -o-border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   border-image: url('/assets/img/misc/border2.png') 30% stretch;
//   width: 100%;
//   max-width: 960px;
//   margin: 0 auto;
//   h3, h4 {
//     text-align: right;
//     text-transform: uppercase;
//     color: $acolor;
//     padding-right: 10rem;
//   }
//   p {
//     width: 50%;
//     text-align: right;
//   }
// }

// .optinheader {
//   padding: 1rem;
//   width: 100%;
//   h2 {
//     color: $paper;
//     text-align: center;
//     margin: 1rem 0 3rem;
//     span {
//       border: 3px solid $paper;
//       border-radius: 8px;
//       font-size: 2rem;
//       padding: 1rem;
//     }
//   }
//   .optin_copy {
//     @include cf;
//     display: flex;
//     justify-content: center;
//     // background-color: $paper;
//     border-radius: 2px;
//     // color: $bgcolor;
//     max-width: 48rem;
//     // height: auto;
//     text-align: left;
//     margin: 0 auto;
//     padding: 1rem;
//     img {
//       width: 100px;
//       height: 162px;
//       margin-right: 1rem;
//       border: 1px solid $bgcolor;
//     }
//     p {
//       align-self: center;
//       max-width: 300px;
//     }
//   }
// }









