/*============================================
=            EMAIL OPTIN DROPDOWN            =
============================================*/

.optin2 {
  position: absolute;
  // top: 225px;
  background-color: yellow;
  color: $paper;
  width: 100%;
}

