/*============================================
=        CONVERTKIT CUSTOM STYLES            =
============================================*/

/* !important tag added to override stupid ConvertKit injected inline styles ... MORONS! */

.ck-form-naked {
	width: 300px;
	// height: 500px;
	// border: 3px dotted chartreuse;
}

/* Layout */
.ck_form.ck_naked {
  /* divider image */
  background: none !important;
  // line-height: 1.5em;
  // overflow: hidden;
  // color: hotpink;
  font-size: 1rem;
  border: none;
  box-shadow: none;
  clear: both;
  // margin: 20px 0px;
  text-align: center;
}

.ck_form.ck_naked p {
  padding: 0px;
}

.ck_form, .ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form {
	border: none !important;
	border: 2px solid blue !important;
	display: flex !important;
	flex-direction: column;

}

.ck_form.ck_naked .ck_form_fields {
  width: 100%;
  float: left;
  padding: 5%;
}
/* Form fields */

.ck_errorArea {
  display: none; /* temporary */
}

#ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
}

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
  font-size: 0.875rem !important;;
  padding: 10px 8px;
  width: 100% !important;
  // flex-grow: 2;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  background-color: #fff; /* layer fill content */
  margin: 0 1% 5px 0;
  height: 42px;
  // @media screen and (min-width:48rem){
  // 	width: 50% !important;
  // }
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.ck_form.ck_naked .ck_subscribe_button {
    color: $paper !important;
    margin: 0px;
    padding:  9px 0px;
    font-size: 1rem;
    background: $bcolor !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    width: 100% !important;
    height: 100% !important;
    span {
    	display: block;
    	font-size: 0.875rem;
    	font-style: italic;
    }
    @media screen and (min-width: 48rem){
    	span {
    		display: inline;
    		font-size: 1rem;
    		&::before {
    			content: " :: ";
    		}
    	}
    }
  }

.ck_subscribe_form {
	min-height: 75px;
}

.ck_converted_content {
  display: none;
  padding: 5%;
  background: #fff;
}

// /* max width 500 */

//   .ck_form.ck_naked.width500 .ck_subscribe_button {
//     width: 100%;
//     float: none;
//     margin-top: 5px;
//   }

//   .ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
//     width: 49%;
//   }

//   .ck_form.ck_naked.width500 input[type="email"] {
//     margin-right: 0px;
//     width: 50%;
//   }

// /* max width 400 */

//   .ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
//     width: 100%;
//     float: none;
//     margin-top: 5px;
//   }

// .ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
//   min-width: 400px;
// }

// .page .ck_form.ck_naked {
//   margin: 50px auto;
//   max-width: 700px;
// }


// /* v6 */

// .ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
//   min-width: 0 !important;
// }

// .ck_form_v6 #ck_success_msg {
//   padding: 0px 10px;
// }

// @media all and (max-width: 403px) {
//   .ck_form_v6.ck_modal .ck_naked {
//     padding-top: 30px;
//   }
// }

// @media all and (max-width: 499px) {
//   .ck_form_v6.ck_modal .ck_naked + .ck_close_link {
//     color: #fff;
//     top: 10px;
//   }
// }

// .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
//   right: 10px;
//   top: -5px;
// }

// @media all and (min-width: 600px) {
//   .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
//     right: 35px;
//   }
// }




