/*=============================================
=    PRIVACY POLICY                           =
=============================================*/

.privacy-policy {
	&__link {
		text-decoration: underline;
		@media screen and (min-width:48rem){
			display: block;
		}
		a {
			color: $paper;
		}
	}
	ul {
		li {
			list-style-type: circle;
			margin: 0 0 0 2rem;
			&:last-of-type {
				margin-bottom: 1rem;
			}
		}
	}
}
