/*=============================================
=    SATURDAY NIGHT SPECIAL PAGE              =
=============================================*/

.sns-header {
	text-align: center;
	border: 2px solid $acolor;
	// border-bottom: 2px solid $acolor;
	margin: 0 0 2rem 0;
	transform: rotate(-2deg);
	h4 {
		color: $acolor;
		font-size: 3rem;
	}
	h5 {
		font-size: 1.5rem;
	}
}

.sns__sample {
	// @extend .prebuysample;
	width: 600px;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

.sub-and-download {
	@extend .add-to-cart;
	margin: 0 0 1rem 0;
}

.sns__header {
	font-size: 1.25rem;
	text-align: left;
	margin: 0.5rem 0 1.5rem;
	strong {
		color: $acolor;
	}
}

.sns__body {
	text-align: center;
	font-style: italic;
}











