/* ==============
   SUBSCRIPTIONS
   ============== */

.subscriptions {
	h2 {
		color: $acolor;
	}
	input[type="submit"] {
		font-size: 0.9375rem;
		@media screen and (min-width:24rem){
			font-size: 1.5rem;
		}
	}
}

.adb {
	margin: 0.5rem 0 2rem 2rem;
	color: lighten($pcolor, 10%);
	font-style: italics;
	font-size: 0.875rem;
	font-family: Spectral;
	dt {
		font-weight: bold;
		text-transform: uppercase;
		span {
			// display: block;
			display: none;
			text-transform: none;
			// margin-left: 1rem;
			font-size: 0.75rem;
			font-weight: normal;
		}
	}
	dd {
		margin: 0 0 1rem 1rem;
	}
}


.thanks-for-signing-up {
	// background-color: chartreuse;
	// height: 100vh;
	h1 {
		text-align: center;
		text-transform: uppercase;
		color: $acolor;
		margin-top: 5rem;
	}
	p {
		margin: 0 auto 1rem;
		width: 500px;
		max-width: 90%;
	}
	img {
		// width: 600px;
		// max-width: 90%;
		margin: 0 0 3rem 0;
	}
}

.subject-line {
	font-size: 0.875rem !important;
	color: $acolor;
	max-width: 85%;
}









