/*=============================================
=    TRIPWIRE: 										            =
=============================================*/

.tripwire {
	img {
		box-shadow: 5px 5px 20px #888888;
		@media screen and (min-width: 30rem){
			height:300px;
			width:auto;
			float:left;
			margin:0 2rem 1rem 0;
		}
	}
	.toc {
		margin-top: 2rem;
	}
}



.tw__desc {
	border-top: 1px solid $acolor;
	width: 600px;
	max-width: 90%;
	margin: 2rem auto 0;
	padding: 1rem 0 0 0;
	text-align: center;
	p {
		max-width: 75%;
		margin: 1rem auto -1rem;
	}
	.metadata {
		margin-bottom: 1rem;
	}
}


