/*=============================================
=             WELCOME BAR                     =
=============================================*/

.wbar {
	display: flex;
	justify-content: space-around;
  z-index: 4;
  // position: absolute;
  // top: 200px;
  background-color: $theblue;
  height: 75px;
  width: 100%;
  color: $paper;
  padding: 1rem;
  // text-align: center;
  header {
  	// border: 1px solid hotpink;
  	display: flex;
  	// width: 75%;
  	img {
  		width: 40px;
  		height: 50px;
  		margin-right: 0.5rem;
  		transform: rotate(-6deg);
  	}
  }
  h2 {
  	font-size: 1.25rem;
  	color: yellow;
  	letter-spacing: 0.1rem;
  	// letter-spacing: 0.15625rem;
  }
  p {
  	font-size: 1rem;
  }
  &__buttons {
  	display: flex;
  	// border: 1px solid hotpink;
  	// margin-top: 0.5rem;
  	// align-self: baseline;
  }
  button {
  	width: 275px;
  	height: 50px;
  	border: none;
  	border-radius: 8px;
  	background-color: #008b00;
  	color: $paper;
  	span {
  		display: block;
  		text-transform: uppercase;
  	}
  }
}




































// OLD CODE W/ ABSOLUTE POSITION ... DO NOT DELETE UNTIL FLEXBOX VERSION IS WORKING
// .header {
//   // overflow: hidden;
//   background: $bgcolor url('/assets/img/site/pulpicons2.svg');
//   border-bottom: 4px solid $acolor;
//   margin-bottom: 1rem;
//   position: relative;
//   height: 78px;

//   a.logo {
//     z-index: 2;
//     color: $paper;
//     position: absolute;
//     display: block;
//     width: 148px; /* width of graphic */
//     height: 50px; /* height of graphic */
//     background: url('/assets/img/site/logo-stacked.svg') no-repeat 0 0;
//     background-size: contain;
//     top: 15px;
//     left: 20px;
//     span {
//       display: none;
//     }
//     @media screen and (min-width: 48rem) {
//       margin-bottom: 20rem;
//       // background: url('/assets/img/site/logo-horizontal.svg') no-repeat 75px 0;
//       // width: 523px;
//       // height: 60px;
//       // background-size: contain;
//     }
//   }

//   @media screen and (min-width: 48rem) {
//     height: 131px;
//   }
//   @media screen and (min-width: 64rem) {
//     height: 95px;
//   }
// }





















// header a, header label {
//   display: block;
//   padding: 1rem;
//   color: $bgcolor;
//   text-decoration: none;
//   line-height: 0.5rem;
//   text-transform: uppercase;
// }

// .logo {
//   // background-image: url('/assets/img/site/atticus_w.svg');
//   // background-repeat: no-repeat;
//   // background-size: 60px 90px;
//   span {
//     color: $paper;
//     // display: none;
//   }
// }

