/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.companyname {
  text-transform: uppercase;
  color: $acolor;
  font-weight: bold;
  font-size: 0.85rem;
}

.small {
  font-size: small;
}

.cf {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}