/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.uppercase {
  text-transform: uppercase;
}