/*====================================================
=            ALL HEADER/NAV/BRANDING SCSS            =
====================================================*/

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);


/* HEADER */
.header {
// border: 2px solid red;
}




/* NAV */
.nav {
  // z-index: 2;
  // border: 1px solid green;
  font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $bgcolor;

  .main-nav {
  border-bottom: 4px solid $acolor;
    // border: 1px solid hotpink;

    @media screen and (min-width: 48rem) {
      display: flex;
      justify-content: space-around;
    }
    @media screen and (min-width: 64rem) {
      justify-content: center;
    }

    a.logo {
      display: inline-block;
      margin: 1rem;
      background: url('/assets/img/site/logo-stacked.svg') no-repeat;
      background-size: contain;
      height: 50px;
      // width: 40%;
      span {
        margin-left: -9999px;
      }
      @media screen and (min-width: 48rem) {
        background: url('/assets/img/site/atticus_fffff0.svg') no-repeat;
        height: 45px;
        width: 30px;
      }
      @media screen and (min-width: 64rem) {
        margin-right: 5rem;
        // background: url('/assets/img/site/logo-stacked.svg') no-repeat;
        // background-size: contain;
        // height: 50px;
      }
    } /* a.logo */

    ul {
      background-color: $bgcolor;
      display: none;
      height: 0;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      @media screen and (min-width: 48rem) {
        display: flex;
        justify-content: space-around;
        background-color: none;
        width: 90%;
        max-width: 960px;
        opacity: 1;
        height: 75px;
        visibility: visible;
      }
    }

    li {
      border-bottom: 1px solid $paper;
      display: block;
      font-size: 1.5rem;
      padding: 2rem 0;
      @media screen and (min-width: 48rem) {
        display: inline-block;
        border: none;
        font-size: 1rem;
      }
    }

    a {
      color: $paper;
      text-transform: uppercase;
      &:after {
        display: block;
        content: '';
        border-bottom: 4px solid $acolor;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }

    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox]:checked ~ ul {
      display: block;
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    label { /* CLOSE X when menu open?? */
      float: right;
      background-color: $acolor;
      color: $paper;
      padding: 0.5rem;
      margin: 1rem;
      @media screen and (min-width: 48rem) {
        display: none;
      }
    }
  } /* main-nav */

} /* nav */


.social-nav {
  display: none;
  background-color: $bgcolor;
  ul {
  display: flex;
  justify-content: space-around;
  width: 100px;
  }
  .fa {
    color: $paper;
  }
}




/* BRANDING */
.branding {
  background: $bgcolor url('/assets/img/site/pulpicons2.svg');
  color: $paper;
  padding-top: 75px;
  .title, .tagline {
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
  .title {
    text-transform: uppercase;
    margin: 1rem 0 0 0;
    font-size: 4rem;
  }
  .tagline {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 0 0 2rem 0;
    span {
      color: $acolor;
      font-style: italic;
    }
  }
}


.active {
  border-bottom: 4px solid $acolor;
}




































































// /* HEADER */
// .header {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   background: $bgcolor url('/assets/img/site/pulpicons2.svg');
//   // height: 150px;
// }





// /* NAV */

// .main-nav {
//   display: flex;
//   justify-content: space-between;
//   height: 100px;
//     background-color: $bgcolor;
//   // border-bottom: 2px solid $acolor;

//   a.logo {
//     margin: 1rem;
//     background: url('/assets/img/site/atticus_fffff0.svg') no-repeat;
//     background-size: contain;
//     span {
//       margin-left: -9999px;
//     } /* span */
//   } /* a.logo */

//   .nav-bar {
//     display: flex;
//     flex-direction: column;

//   } /* nav-bar */

//   ul {
//     display: none;
//     width: 100%;
//   }

//   li a {
//     background-color: $bgcolor;
//     color: $paper;
//     text-transform: uppercase;
//     padding: 2rem;
//     font-size: 2rem;
//   }

//   input[type=checkbox]{
//     display: none;
//   }
//   input[type=checkbox]:checked ~ ul {
//     display: block;
//   }
//   label {
//     background-color: $acolor;
//     color: $paper;
//     padding: 0.5rem;
//     margin: 20rem 1rem 0 0;
//     @media screen and (min-width: 48rem) {
//       display: none;
//     }
//   }

// } /* main-nav */






// /* BRANDING */

// h1 {
//   color: $paper;
//   text-transform: uppercase;
//   text-align: center;
//   margin-top: -6rem;
//   .title1 {
//     font-size: 3rem;
//   }
//   .title2 {
//     background-color: $acolor;
//     transform: translateY(24px);
//   }
//   .title3 {
//     @extend .title1;
//   }
// }

// h2 {
//   color: $paper;
//   text-align: center;
//   margin-top: -2rem;
// }