.header {
  overflow: hidden;
  background: $bgcolor url('/assets/img/site/pulpicons2.svg');
  border-bottom: 4px solid $acolor;
  margin-bottom: 1rem;
  position: relative;
  height: 75px;

  a.logo {
    z-index: 1;
    color: $paper;
    position: absolute;
    display: block;
    width: 148px; /* width of graphic */
    height: 50px; /* height of graphic */
    background: url('/assets/img/site/logo-stacked.svg') no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 20px;
    span {
      display: none;
    }
    @media screen and (min-width: 48rem) {
      width: 500px;
      height: 57px;
      background: url('/assets/img/site/logo-stacked.svg') no-repeat 0 0;
      background-size: contain;
    }
  }

  @media screen and (min-width: 48rem) {
    height: 85px;
  }
}





















// header a, header label {
//   display: block;
//   padding: 1rem;
//   color: $bgcolor;
//   text-decoration: none;
//   line-height: 0.5rem;
//   text-transform: uppercase;
// }

// .logo {
//   // background-image: url('/assets/img/site/atticus_w.svg');
//   // background-repeat: no-repeat;
//   // background-size: 60px 90px;
//   span {
//     color: $paper;
//     // display: none;
//   }
// }

