/* ==========================================================================
   HOMEPAGE HEADER
   ========================================================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}



.homepage {
  // background-color: hotpink;
  // height: 800px;
}

.header_home {
  height: 33vh;
  vertical-align: center;
  // padding: 1rem;
  // margin: 1rem;
  // background: url('/assets/img/site/site_logo4a_f.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  background-color: $bgcolor;
  a {
    color: $paper;
    text-align: center;
    vertical-align: middle;
  }
}


.biglogo {
}

.featuredss {
  // background-color: red;
  // text-align: center;
  // opacity: 0.45;
  // color: $paper;

  border: 1px solid $acolor;
  // padding: 1rem;
  @include span(8 of 8);
  margin-top: gutter();
  margin-bottom: gutter();
  @include susy-breakpoint($bp-med){
    @include span(8 of 8);
  }
  @include susy-breakpoint($bp-large){
    @include span (12 of 12);
  }
  &__content{
    margin-bottom: 1rem;
    a {
      color: $acolor;
      line-height: 1.25;
    }
  }
  &__title {
    text-align: center;
    color: $acolor;
    text-transform: uppercase;
  }
  &__author {
    text-align: center;
  }
}





.hp__murderwiki {
  // background-color: orange;
  // opacity: 0.45;
  // color: $paper;
  // text-align: center;

  @include span(8);
  margin-bottom: gutter();
  @include susy-breakpoint($bp-med){
    @include span(4);
  }
  @include susy-breakpoint($bp-large){
    @include span(8 of 12);
  }
}

.trf {
  background-color: green;
  opacity: 0.45;
  color: $paper;
  text-align: center;

  @include span(8);
  margin-bottom: gutter();
  @include susy-breakpoint($bp-med){
    @include span(4 at 1);
  }
  @include susy-breakpoint($bp-large){
    @include span(4 of 12 at 1);
  }
}

.bookstore {
  background-color: purple;
  opacity: 0.45;
  color: $paper;
  text-align: center;

  @include span(8 of 8);
  margin-bottom: gutter();
  padding-bottom: gutter();
  @include susy-breakpoint($bp-large){

  }
}

.bookimg {
  padding: gutter();
  @include span(4 of 8);
  @include susy-breakpoint($bp-large){
    @include span(3 of 12);
  }
}

.storyimg {
  padding: gutter();
  @include span(8);
}

// .genre {
//   @include span(4 of 8 at 2);
// }

.stories {
  background-color: blue;
  opacity: 0.45;
  color: $paper;
  text-align: center;

  @include span(8);
  margin-bottom: gutter();
  padding-bottom: gutter();
}












