nav {
  background: $bgcolor url('/assets/img/site/pulpicons2.svg');
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 75px 0 0 0;
  width: 100%;
  margin-bottom: 3rem;
  @media screen and (min-width: 48rem) {
    padding-top: 1rem;
    margin: 0 auto;
  }
  input, label {
    @media screen and (min-width: 48rem) {
      display: none;
    }
  }
  a {
    display: inline-block;
    // background-color: $bgcolor;
    color: $paper;
    // color: lighten($bgcolor, 25%);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 20px;
    width: 100%;
    height: 100%;
    position: relative;
    &:visited {
      color: $paper;
      // color: lighten($bgcolor, 95%);
    }
    &:hover {
      background-color: $acolor;
      color: lighten($bgcolor, 75%);
    }
  }
  ul {
    display: none;
    @media screen and (min-width: 48rem) {
      display: block;
      padding: 50px 0;
      li {
        float: left;
        a {
          font-size: 0.875rem;
          // letter-spacing: 1.15px;
          padding: 1rem;
        }
      }
    }
    @media screen and (min-width: 64rem) {
      padding: 0 0 0 200px;
      li a {
        letter-spacing: 1.75px;
        // font-size: 1rem;
      }
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox]:checked ~ ul {
    display: block;
  }
  label {
    position: absolute;
    top: 25px;
    left: 75%;
    background-color: $acolor;
    color: $paper;
    padding: 0.5rem;
  }
}

















.active {
  // background-color: $acolor;
  // color: $paper !important;
  // text-decoration: underline;
}


// nav label {
//   font-size: 0.85rem;
//   font-weight: bolder;
//   // font-style: oblique;
//   // text-decoration: overline underline;
//   padding: 1.3rem 1rem 0.5rem;
//   cursor: pointer;
//   @include span(2 of 7 last);
//   margin-left: 0;
//   &:after {
//     content: "\2007\25BA";
//     font-size: 1rem;
//   }
// }

// /* hamburger icon ... I replaced it (preferred) with the word 'menu' */
// // header label:after {
// //   content: "\2261";
// //   font-size: 2.5rem;
// // }

// nav {
//   float: right;
//   max-height: 0;
//   width: 100%;
//   transition: max-height 0.3s;
//   background-color: $bgcolor;
// }

// nav ul {
//   margin: 0;
//   // padding: 0 0 0.625rem 0;
// }

// nav li {
//   display: block;
//   text-align: left;
//   padding-left: 2rem;
//   border-top: 1px solid $paper;
// }

// nav a {
//   padding: 1rem;
//   width: 100%;
//   font-size: 1.25rem;
//   font-weight: bold;
//   letter-spacing: 1.5px;
//   color: $paper;
//   // border-bottom: 1px solid $bgcolor;
// }

// #nav { display: none; }

// #nav:checked ~ nav {
//   max-height: 100vh;
// }

// input[type=checkbox]:checked ~ label {
//   &:after {
//     content: "\2007\25BC";
//     // font-size: 0.9rem;
//   }
// }



// @include susy-breakpoint($bp-large){

//   header {
//     height: 55px;
//   }

//   header label { display: none; }

//   nav {
//     background-color: $paper;
//     // width: 100%;
//     max-height: none;
//     // text-align: center;
//     @include span(5 of 7 at 1);
//   }

//   nav ul {
//     padding: 0;
//     // padding-right: 10px;
//   }

//   nav li {
//     display: inline-block;
//     text-align: left;
//   }

//   header nav a {
//     display: inline-block;
//     margin: 1.15rem -0.25rem 0 0;
//     width: auto;
//     text-align: center;
//     font-size: 0.8rem;
//     color: $bgcolor;
//   }

// }
