/* ==========================================================================
   HEADER
   ========================================================================== */

   header {
    background-color: $paper;
    height: 50px;
    border-bottom: 4px solid $bgcolor;
    @media screen and (min-width: 425px) {
      height: 65px;
    }
  }


  /* MASTHEAD */

  .masthead {
    color: #fff;
    font-size: 0.75rem;
  }

.logo {
  @include span(3);
  // background: url('/assets/img/site/logo-full36.svg') center center no-repeat;
  margin-top: 0.7rem;
}

$flex_nav_hoverColor:purple;
$flex_nav_borderColor: darken($paper,10%);
$flex_nav_hotdogsColor: white;

body {
  -webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */
}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } /* needed for checkbox hack */


#nav {
  position:relative;

  ul {
    display:none;
    width:100%;
    list-style:none;
    li {
      border-bottom: 1px solid $bgcolor;
      a {
        display:block;
        padding:2rem;
        background:$paper;
        color:$bgcolor;
        text-decoration:none;
        text-transform: uppercase;
        text-align: center;
        &:hover {
          color: $acolor;
        }
      }
      &:last-of-type {
        border-bottom: 4px solid $bgcolor;
      }
    } // li
  } // ul

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul,&:checked ~ ul li ul {
      display:block !important;
      @media (min-width:$tablet){
        display: flex;
        flex-direction: row;
      }
    }
  }
  label {
    background: linear-gradient(to bottom, $bgcolor 0%, $bgcolor 20%, transparent 20%, transparent 40%, $bgcolor 40%, $bgcolor 60%, transparent 60%, transparent 80%, $bgcolor 80%, $bgcolor 100%); //Gradient Hamburger
    cursor: pointer;
    display: block;
    float: right;
    height: 1.25rem;
    margin: 0.75rem 0 1rem 0;
    width: 1.25rem;
  }

  @media(min-width:$tablet){
    ul {
      display: flex;
      flex-direction: row;

      li {
        position:relative;
        text-align: center;

        /* newer flexbox */
        flex: 1;

        &:hover > ul {
          display: block !important;
        }

      } // li
    } // ul

    label {
      display:none;
    }
  } // breakpoint

} // nav


