---
layout: default2
---

<article class="books">

  {% include smallnav.html %}

  <header class="books__header">
    <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="book__img">

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="book_details">

      <h5 style="margin-top: 1rem;"><span style="background-color:#6e6e6e;color:#fffff0;text-transform:uppercase;padding:0.5rem 0.5rem 0.5rem 0.5rem;letter-spacing:2px;">{{ page.genre }}</span></h5>

      <h1 class="books__title" style="margin-top:6rem;">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>

      <h3 class="book__price">${{ page.price }}</h3>
      <br>
      <p class="metadata">
        <!-- <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span> -->
        <span class="etr">read time:
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}
          </span>
        </p>

        <div class="">

          <p class="italics" style="border-top:1px solid #8b0000;border-bottom:1px solid #8b0000;padding:0.5rem 0;">{{ page.description }}</p>


        </div>

        <div class="book__buttons">
          <button class="snipcart-add-item add-to-cart"
            data-item-id="{{ page.casefileNumber }}"
            data-item-file-guid="{{ page.snipcart-guid }}"
            data-item-name="{{ page.title }}"
            data-item-price="{{ page.price }}"
            data-item-url="{{ site.baseurl }}{{ page.url }}">
            ADD TO CART
          </button>

          <a class="add-to-cart hidden" href="{{ page.downloadsamplebutton }}">DOWNLOAD SAMPLE</a>

        </div> <!-- end .book__buttons -->

        <br>

        <p class="zip-instructions hidden">Once your purchase is complete, you will receive an email with a zip file containing both the ePub and .mobi (Kindle) files. Unzip the file and load your preferred version on your favorite ebook reader app or device. <span class="underline hidden">Instructions</span></p>

        <div style="display:flex;flex-direction:row;justify-content:space-around;">
          <!-- <p class="book__price">${{ page.price }}</p> -->
          {% include fb-like-share.html %}
        </div>

        <div class="luvit-guarantee hidden">
          <p><span class="bold">LUV-IT GUARANTEE:</span>Either you'll love this book or you don't pay!<br>If you don't thoroughly love this book, just email support and I'll refund 100% of your money. Guaranteed!</p>
        </div>

        {% if page.testimonials %}<p class="testimonials">{{ page.testimonials }}</p>{% endif %}

    </div>


  </header> <!-- end header.books__header -->

  <article class="books">
    {{ content }}
  </article>

  <div class="book__meta" style="margin: 1rem;">
    <h4>Additional Info</h4>
    <ul>
      <li class="book__cfn"><span class="bold">MBIN No: </span>{{ page.casefileNumber }}</li>
      <li class="book__length"><span class="bold">Length: </span>~ {{ page.wordcount | divided_by: 375 }} pages <span class="pagelengthdisclaimer">(depending on ereader font and font size)</span></li>
      <li class="book__opub"><span class="bold">Original Publication: </span><span class="italics">{{ page.opub }}</span> | {{ page.opubdate }} {% if page.opubissue %} | {{ page.opubissue }} {% endif %}</li>
      <li class="book__repub"><span class="bold">Republication Date: </span>
        {% if page.pubdate %}
          {{ page.pubdate | date: "%b %d, %Y"}}
        {% else %}
          Not yet published.
        {% endif %}
      </li>
    </ul>
  </div>

  </div>

 

</article>
