{% include head.html %}

<body {% if page.title %} id="{{ page.title }}" {% endif %} class="{{ page.category }} lp">
	
  {% include header_lp.html %}

	<section class="offer__top" style="background-image:url('{{ page.bg-image }}');">
    <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="book__img">

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="offer_details">
    	<h5><span>{{ page.genre }}</span></h5>
      <h1 class="books__title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      {% if page.authorData %}
        <p class="authorData">{{ page.authorData }}</p>
      {% endif %}

      <h3 class="book__price"><span class="strikethru">{{ page.price }}</span> FREE!<br><span class="small italics">(with subscription)</span></h3>
      <p class="small">offer good until Febrary 7, 2019</p>
      
      <p>
        {% if page.opub %}
          <span style="display:block;" class="opub__ss"><em>{{ page.opub }}</em> | {{ page.opubdate }} {% if page.opubissue %} | {{ page.opubissue }} {% endif %}</span>
        {% endif %}
        <span style="display:block;" class="opub__ss hidden">THE RED FILE | {{ page.trfdate }} | {{ page.trfissue }}</span> <!-- make a link to the issue! -->
        <span style="display:block;font-size:0.875rem;">Casefile No: {{ page.casefileNumber }}</span>
      </p>

      <p class="metadata">
        <!-- <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span> -->
        <span class="etr">read time:
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}
          </span>
        </p>

        <div class="" style="border-top:1px solid #8b0000;border-bottom:1px solid #8b0000;padding:0.5rem 0;">
          <p class="italics">{{ page.description }}</p>

        {% if page.category == 'novelettes' %}
          <div class="readsample">
            <a href="#sample"><p><span class="underline">Read Sample</span> &hellip;</p></a>
          </div>
        {% endif %}
        </div>

        {% if page.testimonials %}<p class="testimonials">{{ page.testimonials }}</p>{% endif %}

        <div class="buttonsdiv" style="">
		        <div class="book__buttons">
	            {% include buybuttons-sq.html %}
		        </div>
       </div>

    </div>
  </section> <!-- end header.offer__top -->
	
  <div id="sample"></div>

	<!-- <div class="bob" style="border-top:2px solid #8b0000;border-bottom:2px solid #8b0000;margin:3rem auto 2rem;padding-top:1rem;width:600px;max-width:90%;font-weight:bold;">
    <p>{{ page.bob }}</p>
  </div> -->

	<main class="wrap">
	  <article style="margin-top:2rem;">
	    {{ content }}
	  </article>
	</main>

  <div class="buttonsdiv" style="">
    <div class="book__buttons" style="margin:0 0 0 2rem;padding-bottom:2rem;">
      {% include buybuttons-sq.html %}
    </div>
</div>

  {% include footer.html %}

  {% include scripts.html %}

</body>