{% include head.html %}

<body {% if page.title %} id="{{ page.title }}" {% endif %} class="{{ page.category }} lp">
	
  {% include header_lp.html %}

	<section class="offer__top" style="background-image:url('{{ page.bg-image }}');">
    <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="book__img">

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="offer_details">
    	<h5><span>{{ page.genre }}</span></h5>
      <h1 class="books__title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      {% if page.authorData %}
        <p class="authorData">{{ page.authorData }}</p>
      {% endif %}

      <p>
        {% if page.opub %}
          <span style="display:block;" class="opub__ss"><em>{{ page.opub }}</em> | {{ page.opubdate }} {% if page.opubissue %} | {{ page.opubissue }} {% endif %}</span>
        {% endif %}
        <span style="display:block;" class="opub__ss hidden">THE RED FILE | {{ page.trfdate }} | {{ page.trfissue }}</span> <!-- make a link to the issue! -->
        <span style="display:block;font-size:0.875rem;">Casefile No: {{ page.casefileNumber }}</span>
      </p>

      <p class="metadata">
          <!-- <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span> -->
          <span class="etr">read time:
            {% if site.readtime %}
            {% if readtime > 60 %}
            {% assign readtime_hours = readtime | divided_by: 60 %}
            {% assign readtime_minutes = readtime | modulo:60 %}
              {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
              {% else %}<span class="hour">{{ readtime_hours }}</span> hr
              {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
            {% else %}
              {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
            {% endif %}
            </span>
          </p>

      <!-- <h3 class="book__price"><span class="strikethru">{{ page.price }}</span> FREE!<br><span class="small italics">(with subscription)</span></h3> -->
      <h3 class="small" style="color:#474f55;">RETAIL <span class="strikethru">${{ page.price }}</span></h3>
      <h4 class="book__price">Valentine's Day Special &#10157; FREE!</h4>
      <br>
      <p class="small italics">(<em>FREE</em> offer good until Febrary 16, 2019)</p>
      <!-- <br> -->
      <p><span id="demo" style="font-size:2rem; color:#F9F9DF;background-color:#8b0000;padding:0.5rem;text-align:center;max-width:300px;"></span></p>
      <br>
      <div class="buttonsdiv">
        <div class="book__buttons__lp2">
          {% include buybuttons-sq.html %}
        </div>
      </div>

      


        <div class="" style="border-top:1px solid #8b0000;border-bottom:1px solid #8b0000;padding:0.5rem 0;">
          <p class="italics">{{ page.description }}</p>

        {% if page.category == 'novelettes' %}
          <div class="readsample hidden">
            <a href="#sample"><p><span class="underline">Read Sample</span> &hellip;</p></a>
          </div>

          <div class="bullets small margin1r">
            <ul style="color:#8b0000;margin-left:2rem;">
              <li><span style="color:#474f55;"><strong>He loved Mel English's wife, Vera</strong> &hellip; and knew Mel was cheating.</span></li>
              <li><span style="color:#474f55;"><strong>Now, Angelea Whitmore, the mistress, is dead</strong> &hellip; was it Mel or Vera or Red, himself?</span></li>
              <li><span style="color:#474f55;"><strong>Who can he trust aboard the <em>Empress of Burmuda</em> &hellip; </strong>the woman he loves; her philandering husband?</span></li>
              <li style="margin-top:1rem;"><strong>Or will PI Red Hartley take the fall for Angela's murder, himself?</strong></li>
            </ul>
          </div>
        {% endif %}
        </div>

        {% if page.testimonials %}<p class="testimonials">{{ page.testimonials }}</p>{% endif %}


    </div>
  </section> <!-- end header.offer__top -->
	
  <div id="sample"></div>

	<!-- <div class="bob" style="border-top:2px solid #8b0000;border-bottom:2px solid #8b0000;margin:3rem auto 2rem;padding-top:1rem;width:600px;max-width:90%;font-weight:bold;">
    <p>{{ page.bob }}</p>
  </div> -->

	<main class="wrap">
	  <article style="margin-top:2rem;">
	    {{ content }}
	  </article>
      <div class="book__buttons">
        {% include buybuttons-sq.html %}
      </div>
      <p class="small italics" style="text-align:center;">(<em>FREE</em> offer good until Febrary 16, 2019 &hellip; price returns to $4.99 after that!!)</p>
	</main>

</div>

  {% include footer.html %}

  {% include scripts.html %}

</body>