---
layout: default2
---

{% include smallnav.html %}

<article itemscope itemtype="http://schema.org/Blog" class="the-story">

<header class="books__header">
{% include jsonld_novels.html %}

  <div class="image-box">
      <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="story__img" {% if page.imgh %} style="height:{{ page.imgh }};width:auto;" {% endif %} itemprop="image">
  </div>
    <!-- <p>{{ page.caption }}</p> -->

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="book_details">
      <h1 class="books__title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author" itemprop="name">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      
      <p class="metadata">
        <span class="etr">read time:
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}
          </span>
        <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span>
        </p>
        <p>{{ page.excerpt }}</p>
    </div>
    

    <!--  if page.kindle and page.epub %}
      <a href="#ck_modal" rel="ck_modal" class="add-to-cart">Download <span class="small">ePub or Kindle</span></a>
     else %}
      <h6>Download (ePub &amp; Kindle format) coming soon!</h6>
     endif %} -->

  </header> <!-- end header.books__header -->

  <article class="story">
    {{ content  }}
  </article>

  <!-- <div class="cf"></div> -->

  <footer>
    <h4>You May Also Enjoy</h4>
    <!-- {% if page.url contains 'murderwiki' %} -->
      <div class="relatedPosts">

          {% assign maxRelated = 4 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

          {% for murderwiki in site.murderwiki %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
          {% assign commonTags = .commonTags %}

          {% for tag in murderwiki.tags %}
            {% if murderwiki.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <!-- <span class="label label-default">{{ tag }}</span> --> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}

              <div class="rel">
                <a href="{{ murderwiki.url }}">
                <h5>{{ murderwiki.title }}</h5>
                <img src="{{ murderwiki.image }}" alt="">
                <h6>{{ commonTags }}</h6>
                </a>
              </div>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}

       {% endfor %}

      <!-- <div class="cf"></div> -->
      </div>
    <!-- {% endif %} -->


  </footer>

</article>

<!-- <div class="cf"></div> -->

 <!-- optin4 -->
