---
layout: default2
---

<article class="books">

  {% include smallnav.html %}

  <header class="books__header" style="margin-bottom:5rem;">
    <div style="display:flex;flex-direction:column;margin:1rem;">
      <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="book__img" style="box-shadow:3px 4px 5px #242424;width:400px;">
      <div style="display:flex;flex-direction:row;justify-content:space-around;">
          {% include fb-like-share.html %}
        </div>
    </div>

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="book_details">

      <h5 style="margin-top: 1rem;"><span style="background-color:#6e6e6e;color:#fffff0;text-transform:uppercase;padding:0.5rem 0.5rem 0.5rem 0.5rem;letter-spacing:2px;">{{ page.genre }}</span></h5>

      <h1 class="books__title" style="margin-top:1.5rem;">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author" itemprop="name">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      {% if page.authorData %}
        <p class="authorData">{{ page.authorData }}</p>
      {% endif %}

      <p class="small">CASEFILENUMBER: {{ page.casefileNumber }}</p>

      <h3 class="book__price">${{ page.price }}</h3>
      <p>(or FREE w/ <a href="#" style="text-decoration:underline;">serial subscription</a>)</p>
      <p>Original Publication:<br><span class="italics">{{ page.opub }}</span> | {{ page.opubdate }} {% if page.opubissue %} | {{ page.opubissue }} {% endif %}</p>
      <p class="metadata">
        <span class="etr">Serial read time: <span style="text-transform:lowercase;">10 installments @ 5 min each</span></span>
        <span class="etr">total read time:
            <span style="text-transform:lowercase;">
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}</span>
        </span>
        <!-- <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span> -->
      </p>

        <div class="" style="border-top:1px solid #8b0000;border-bottom:1px solid #8b0000;padding:0.5rem 0;">
          <p class="italics">{{ page.description }}</p>
          <div class="readsample center">
              <a href="#sample">Read: <span class="bold underline uppercase">CHAPTER 1 &mdash; {{ page.firstchapter }}</span> &#x2BAF;</a>
            </div>
        </div>

        {% if page.pubdate %}
          {% include buybuttons-n1a.html %}
        {% else %}
          <p style="border:1px solid #8b0000;margin: 1rem 0;padding:0 0.5rem;color:#8b0000;line-height: 1.5;"><span style="font-weight: bold;display: block;font-size:3rem;margin:0 auto;text-align:center;">COMING SOON</span></p>
        {% endif %}

        

        <!-- <div class="luvit-guarantee small" style="margin-top: 1rem;">
          <p><span class="bold">LUV-IT GUARANTEE:</span> Either you'll love this book or you don't pay!<br>If you don't thoroughly love this book, just email support and I'll refund 100% of your money. Guaranteed!</p>
        </div> -->

        {% if page.testimonials %}<p class="testimonials">{{ page.testimonials }}</p>{% endif %}

    </div> <!-- end div.book_details -->

  </header> <!-- end header.books__header -->




  <article class="books">
    <div id="sample" style="border-top: 2px solid #8b0000;padding:2rem;">
      <h3 class="center bloodred uppercase hidden" style="margin:1rem;color:#8b0000;">~ FREE SAMPLE ~</h3>
      {{ content }}

      <p>Click the GET SERIAL button below &amp; immediately get CHAPTER 2 delivered to your inbox!</p>
    </div>
  </article>

  <div>
    
    {% include buybuttons-n1a.html %}

  <div class="why-buy" style="border: 1px solid #242424;margin:0 auto;width:600px;max-width:85%;">
    <p class="xlarge uppercase center" style="background-color:#242424;color:#fffff0;padding:1rem;margin:1rem;margin:0;">Why Buy It When You Can Get It Free?</p>
    <p style="padding:1rem 1rem 0;">Serialized editions of novelettes are an easy way to read any length story when you have just a few minutes a day to spare. Why let those little bits of time between activities go to waste?</p>
    <p style="padding:0 1rem;">Each installment will only take 5 &ndash; 10 mins to read. And it about a week, you'll have the satisfaction of completing a great, full-length {{ page.genre }} novelette!</p>
  </div>

 

</article>
