---
layout: default
---

<article class="murderwiki__article">

  <header class="mw__header">

    <!-- README IF STATEMENT -->
  {% if site.readtime %}
    {% if site.wpm %}
      {% assign readtime = page.wordcount | divided_by:site.wpm %}
    {% else %}
      {% assign readtime = page.wordcount | divided_by:180 %}
    {% endif %}
  {% endif %}


    <figure class="mw__img">
      <img src="{{ page.image }}" alt="{{ page.title }}">
        {% if page.caption %}
          <figcaption class="caption">
            <p>{{ page.caption }}</p>
          </figcaption> <!-- end figcaption.excerpt -->
        {% endif %}
    </figure>

    <h1 class="mw__title">{{ page.title }}{% if page.subtitle %}:{% endif %}</h1>
    {% if page.subtitle %}<h3 class="mw__subtitle">{{ page.subtitle }}</h3>{% endif %}

    <h2 class="mw__author">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</span></h2>

     <div class="mw__originalpub">
      <p class="opubheader">Originally published in:</p>
      <p>
        <span class="opub">{{ page.opub }},</span>
        <span class="opubissue">{{ page.opubchapter }}</span>
        <span class="opubdate">({{ page.opubdate }})</span>
      </p>
    </div>
    <div class="cf"></div>

<!--     <p class="metadata">

      <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span>
      <span class="etr">time to read:
        {% if site.readtime %}
        {% if readtime > 60 %}
        {% assign readtime_hours = readtime | divided_by: 60 %}
        {% assign readtime_minutes = readtime | modulo:60 %}
          {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
          {% else %}<span class="hour">{{ readtime_hours }}</span> hr
          {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
        {% else %}
          {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
        {% endif %}
        </span>
    </p> -->

  </header> <!-- end header.story__header -->



  <article class="story">
    {{ content }}
  </article>

  <footer>
    <h4>You May Also Enjoy</h4>
    <!-- {% if page.url contains 'murderwiki' %} -->
      <div class="relatedPosts">

          {% assign maxRelated = 4 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

          {% for murderwiki in site.murderwiki %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
          {% assign commonTags = .commonTags %}

          {% for tag in murderwiki.tags %}
            {% if murderwiki.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}

              <div class="rel">
                <a href="{{ murderwiki.url }}">
                <h5>{{ murderwiki.title }}</h5>
                <img src="{{ murderwiki.image }}" alt="">
                <h6>{{ commonTags }}</h6>
                </a>
              </div>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}

       {% endfor %}

      <div class="cf"></div>
      </div>
    <!-- {% endif %} -->
  </footer>

</article>