---
layout: default2
---

<article class="books">

  {% include smallnav.html %}

  <header class="books__header">
    
    <div class="book_details" style="margin:3rem 0 1rem;padding:1rem 0 0;border-top:2px solid #8b0000;border-bottom:2px solid #8b0000;">

      <h1 class="books__title" style="color:#242424;">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      
      <h2 class="books__author" style="color:#242424;" itemprop="name">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      {% if page.authorData %}
      <p class="authorData">{{ page.authorData }}</p>
      {% endif %}
      
      {% if page.prev_part %}
        <h5 class="uppercase"><a href="{{ page.prev_part_url }}" class="underline"><i class="fa fa-arrow-left"></i> {{ page.prev_part }} Summary:</a></h5>
        <p>{{ page.prev_summary }}</p>
      {% endif %}

      <h5 class="uppercase bloodred">{{ page.slug }}:</h5>
      <p>{{ page.description }}</p>

    </div> <!-- end div.book_details -->


  </header> <!-- end header.books__header -->

  <article class="books">
    <div class="serial-story-segment">
      {{ content }}
    </div>

  </article>

  {% if page.nextpart %}
    <div style="background-color:#242424;color:#fffff0;padding:2rem;">
        <h4 style="text-align:center;">Watch your Inbox tomorrow for the next installment of</h4>
        <h3 class="center uppercase margin1r">{{ page.title }}</h3>
        <p class="center italics margin1r">{{ page.nextpart_tease }}</p>
        <hr class="margin2r">
        <div class="center" style="padding:1rem 1rem 0.5rem;background-color:#fffff0;color:#242424;">
          <p class="xlarge bold">Don't want to wait 24 hours to continue reading?</p>
          <p>Read <a href="{{ page.nextpart_url }}" class="bold underline"><span class="uppercase">{{ page.nextpart }}</span></a> now.</p>
        </div>
    </div>
  {% else%}
    <div>
        <h3 class="center" style="border:1px solid #242424;background-color:#fffff9;padding:1rem;margin:1rem;">BUY A NOVEL NOW!!</h3>
    </div>
  {% endif %}
 
</article>
