---
layout: default2
---

{% include smallnav.html %}

<article itemscope itemtype="http://schema.org/Blog">

<header class="books__header">
    <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="book__img" itemprop="image">
    <!-- <p>{{ page.caption }}</p> -->

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="book_details">
      <h1 class="books__title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author" itemprop="name">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      
      <p class="metadata">
        <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span>
        <span class="etr">read time:
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}
          </span>
        </p>
        <p>{{ page.excerpt }}</p>
    </div>


  </header> <!-- end header.books__header -->





  <article class="story">
    {{ content  }}
  </article>

  <div class="cf"></div>

  <footer>
    <h4>You May Also Enjoy</h4>
    <!-- {% if page.url contains 'short-stories' %} -->
      <div class="relatedPosts">

          {% assign maxRelated = 4 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

          {% for short-stories in site.short-stories %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
          {% assign commonTags = .commonTags %}

          {% for tag in short-stories.tags %}
            {% if short-stories.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}

              <div class="rel">
                <a href="{{ short-stories.url }}">
                <h5>{{ short-stories.title }}</h5>
                <img src="{{ short-stories.image }}" alt="">
                <h6>{{ commonTags }}</h6>
                </a>
              </div>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}

       {% endfor %}

      <div class="cf"></div>
      </div>
    <!-- {% endif %} -->


  </footer>

</article>

<div class="cf"></div>

{% include optin4.html %}
