---
layout: default2
---

{% include smallnav.html %}

<article itemscope itemtype="http://schema.org/Blog" class="the-story">

  <div style="border:1px solid #8b0000;margin-top: 1rem auto 0;text-align:center;background-color:#ffff00;color:#8b0000;text-transform:uppercase;padding:0.5rem 0.5rem 0.5rem 0.5rem;letter-spacing:2px;">
    <h4>SATURDAY NIGHT SPECIAL - PREMIUM SHORT STORY</h4>
  </div>

<header class="books__header">
{% include jsonld_novels.html %}

  {% if page.image %}
    <figure class="image-box">
      <img src="{{ page.image }}" alt="{{ page.title }} by {{ page.author }}" class="story__img" {% if page.imgh %} style="height:{{ page.imgh }};width:auto;" {% endif %} itemprop="image">
      <figcaption>{{ page.caption }}</figcaption>
    </figure>    
  {% endif %}

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

    <div class="book_details"  {% unless page.image %} style="margin:0 auto;max-width:600px;" {% endunless %}>


      <h5 style="margin-top: 1rem;"><span style="background-color:#6e6e6e;color:#fffff0;text-transform:uppercase;padding:0.5rem 0.5rem 0.5rem 0.5rem;letter-spacing:2px;">{{ page.genre }}</span></h5>

      <h1 style="margin-top: 2rem;" class="books__title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}

      <h2 class="books__author" itemprop="name">{% if page.author %}by <span>{{ page.author }}</span>{% else %}<span>{{ page.series }}</span>{% endif %}</h2>
      {% if page.authorData %}
        <p class="authorData">{{ page.authorData }}</p>
      {% endif %}
      
      <p>
        {% if page.opub %}
          <span style="display:block;" class="opub__ss"><em>{{ page.opub }}</em> | {{ page.opubdate }} {% if page.opubissue %} | {{ page.opubissue }} {% endif %}</span>
        {% endif %}
        <span style="display:block;" class="opub__ss">THE RED FILE | {{ page.trfdate }} | {{ page.trfissue }}</span> <!-- make a link to the issue! -->
        <span style="display:block;font-size:0.875rem;">Casefile No: {{ page.casefileNumber }}</span>
      </p>


      <p class="metadata">
        <span class="etr">read time:
          {% if site.readtime %}
          {% if readtime > 60 %}
          {% assign readtime_hours = readtime | divided_by: 60 %}
          {% assign readtime_minutes = readtime | modulo:60 %}
            {% if readtime_hours > 1 and readtime_hours < 2 %}1 hour
            {% else %}<span class="hour">{{ readtime_hours }}</span> hr
            {% endif %}{% if readtime_minutes < 1 %}{% elsif readtime_minutes > 1 and readtime_minutes < 1.5 %} and 1 minute {% elsif readtime_minutes > 1.5 %} and <span class="time">{{ readtime_minutes }}</span> min{% endif %}
          {% else %}
            {% if readtime < 1 %}Less than 1 minute {% elsif readtime > 1 and readtime < 1.5 %}1 minute {% elsif readtime > 1.5 %}<span class="time">{{ readtime }}</span> min {% endif %}{% endif %}
          {% endif %}
          </span>
        <span class="wordcount">word count: {{ page.wordcount | thousands_separated }}</span>
        </p>
        <p style="font-style:italic;border-top: 1px solid #242424;border-bottom: 1px solid #242424;padding: 0.5rem 0 0.5rem 0;">{{ page.excerpt }}</p>
    </div>
    

    <!--  if page.kindle and page.epub %}
      <a href="#ck_modal" rel="ck_modal" class="add-to-cart">Download <span class="small">ePub or Kindle</span></a>
     else %}
      <h6>Download (ePub &amp; Kindle format) coming soon!</h6>
     endif %} -->

  </header> <!-- end header.books__header -->

  <div class="sns" style="width:600px;max-width:90%;box-shadow: 3px 4px 15px -2px rgba(0,0,0,0.75);border: 2px solid #242424;padding:0.5rem;margin:0 auto;text-align:center;">
    <h3 style="text-decoration: underline;margin-bottom: 0.5rem;text-transform:uppercase;">For Subscribers Only!</h3>
    <h4>But you can get your <span class="bloodred">free</span> copy of this exciting<br><em>{{ page.genre }}</em> mystery story today.</h4>
    <br>
    <button style="width:250px;height:50px;color:#fffff0;background-color:#8b0000;padding:0.25rem;border:none;">YES!<br><span class="small">I want to read <em>{{ page.title }}</em></span></button>
    <button style="width:250px;height:50px;color:#8b0000;background-color:#fffff0;padding:0.25rem;border:1px solid #8b0000;">No &hellip;<br><span class="small">I hate reading!</span></button>
    <p class="xsmall" style="margin:1rem 2rem 0;">You'll also be subscribed to <em class="bloodred">Casefiles</em>, the free semi-daily email notifying you of new stories available for your enjoyment. Plus access to ALL Saturday Night Special Premium short stories!</p><br>
    <p class="xsmall"><i class="fa fa-lock"></i> And your email address is locked away safe. No Spam Ever!<br>Unsubscribe anytime. Promise I won't send any leg breakers to your house!</p>
  </div>

  <article class="story">
    {{ content }}
  </article>

  <div class="sns" style="width:600px;max-width:90%;border: 2px solid #242424;padding:0.5rem;margin:0 auto;text-align:center;">
    <h3 style="text-decoration: underline;margin-bottom: 0.5rem;text-transform:uppercase;">Did you enjoy that little bit of {{ page.title }}?</h3>
    <h4>Get your <span class="bloodred">free</span> copy of this exciting<br><em>{{ page.genre }}</em> mystery story today.</h4>
    <p class="small">Download ePub or Kindle format!</p>
    <br>
    <button style="width:250px;height:50px;color:#fffff0;background-color:#8b0000;padding:0.25rem;border:none;">YES!<br><span class="small">I want to read <em>{{ page.title }}</em></span></button>
    <button style="width:250px;height:50px;color:#8b0000;background-color:#fffff0;padding:0.25rem;border:1px solid #8b0000;">No &hellip;<br><span class="small">I hate reading!</span></button>

  </div>

  <footer>
    <h4>You May Also Enjoy</h4>
    <!-- {% if page.url contains 'short-stories' %} -->
      <div class="relatedPosts">

          {% assign maxRelated = 4 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

          {% for short-stories in site.short-stories %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
          {% assign commonTags = .commonTags %}

          {% for tag in short-stories.tags %}
            {% if short-stories.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <!-- <span class="label label-default">{{ tag }}</span> --> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}

              <div class="rel">
                <a href="{{ short-stories.url }}">
                <h5>{{ short-stories.title }}</h5>
                <img src="{{ short-stories.image }}" alt="">
                <h6>{{ commonTags }}</h6>
                </a>
              </div>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}

       {% endfor %}

      <!-- <div class="cf"></div> -->
      </div>
    <!-- {% endif %} -->


  </footer>

</article>

<!-- <div class="cf"></div> -->

 <!-- optin4 -->
